<h1>Subscribe Web API</h1>
<hr>
<h2>subscribe()</h2>
<p>when we use Observables in service so we need use subscribe() in component.</p>
<p>syntax : <br>
<span class="imp">this.ConstructorPrameterVariablename.service_methood().<span class="point">subscribe(xyz => this.ngforcollection_name = xyz);</span></span></p>
<hr>
<h4 class="mb-3">How to use Subscribe() method</h4>
<p>Step 1 : first generate service <span class="imp">name.service.ts</span></p>
<p>use web api : like <span class="imp">https://jsonplaceholder.typicode.com/users</span></p>
<pre data-doc="1 name.service.ts">
    <code>
    {{RxjsCode.Subscribe.service}}
    </code>
</pre>
<hr>
<p>Step 2 : Inject service in component</p>
<p>in component , use Subscribe() method and call service method</p>
<pre data-doc="2 name.component.ts">
    <code>
        {{RxjsCode.Subscribe.ts}}
    </code>
</pre>
<hr>
<p>Step 3 : bind variable in ngFor</p>
<pre data-doc="3 name.component.html">
    <code>
        {{RxjsCode.Subscribe.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>username</th>
                    <th>email</th>
                    <th>website</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listing">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.website}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <div *ngFor="let item of listing">
    <h4>{{item.id}}</h4>
</div> -->