<h1>what-is-directive</h1>
<hr />
<p>directive is changed to behaviour or appearance of dom element</p>
<p>In directive we fire event , change colour , add and remove</p>
<div data-type-heading="Types of directive" class="type">
  <a routerLink="../component">component</a>
  <a routerLink="../structural">structural</a>
  <a routerLink="../attribute">attribute</a>
</div>
