<h1>Template reference variables</h1>
<hr />
<p>we can access Dow property by using Template reference variables</p>
<p>It is also call local reference variables</p>
<p>
  Syntax : <br />
  <span class="imp">&lt;div #varName (or) ref-varName &gt; &lt;/div&gt;</span>
</p>
<hr />
<pre data-doc="name.componet.ts">
    <code>
       {{desugars.TempRefVa.ts}}
    </code>
  </pre>
<pre data-doc="name.componet.html">
    <code>
        {{desugars.TempRefVa.html}}
    </code>
</pre>
<hr />

<div class="output">
  <div class="p-3">
    <input type="text" value="alex" #name />
    <h3>{{ name.value }}</h3>
    <button class="btn btn-primary" (click)="clickTemp(name.value)">
      click me
    </button>
    <br />
    <a #text>
      hello , angular
    </a>
    <h4>this is innerText : {{ text.innerText }}</h4>
  </div>
</div>
