<h1>simple reactive </h1>
<hr>
<h2>how to use simple reactive form</h2>
<p>step 1 : fisrt import to ReactiveFormsModule in <span class="imp">app.module.ts - </span></p>
<pre data-doc="1 app.module.ts">
    <code>
    {{formCode.reactive.simple.appMode}}
    </code>
</pre>
<p>step 2 : go on <span class="imp">name.component.ts</span></p>
<pre data-doc="2 name.component.ts">
    <code>
        {{formCode.reactive.simple.ts}}
    </code>
</pre>
<p>step 3 : <span class="imp">go on name.component.html</span></p>
<pre data-doc="3 name.component.html">
    <code>
        {{formCode.reactive.simple.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <form [formGroup]="myform" (ngSubmit)="rectiveForm()">
            <div class="mb-3">
              <label class="form-label">your name</label>
              <input type="text"  class="form-control" formControlName="name" />
            </div>
            <div class="mb-3">
                <label class="form-label">enter your password</label>
                <input type="password"  class="form-control" formControlName="pass" />
            </div>
            <button type="submit" class="btn btn-primary">submit here</button>
            <h4>{{ ouptut | json}}</h4>
        </form>
    </div>
</div>
