<h1>built in pipes</h1>
<hr />
<h2>Parameterized pipe</h2>
<pre data-doc="syntax">
    <code>
        {{pipesCode.type.builin.para.syntax}}
    </code>
</pre>
<hr>
<h3>date</h3>
<p>this Parameterized pipes (Date) is predefined</p>
<pre data-doc="1 name.component.ts">
    <code>
        {{pipesCode.type.builin.someParaPipes.Date.ts}}
    </code>
</pre>
<pre data-doc="2 name.component.html">
    <code>
    {{pipesCode.type.builin.someParaPipes.Date.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>without using pipes date : {{DOB}}</h5>
        <h5>Using pipes for date : {{DOB | date}}</h5>
        <h5>Using pipes for date formate : {{DOB | date: 'dd-MM-yyyy'}}</h5>
        <h5>Using pipes for time: {{DOB | date: 'mediumTime'}}</h5>
    </div>
</div>
<hr>
<h3>Currency</h3>
<p>In this Parameterized pipe ues Currency in value</p>
<pre data-doc="1 name.component.ts">
    <code>
    {{pipesCode.type.builin.someParaPipes.currency.ts}}
    </code>
</pre>
<pre data-doc="2 name.component.html">
    <code>
    {{pipesCode.type.builin.someParaPipes.currency.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>{{salary | currency : 'EUR' }}</h5>
        <h5>{{salary | currency : 'INR'}}</h5>
        <h5>{{salary | currency : 'CNY'}}</h5>
    </div>
</div>
<hr>
<h3>chaining pipe</h3>
<p>In chaining pipes , use multiple pipes in one data.</p>
<pre data-doc="syntax">
    <code>
    {{pipesCode.type.builin.someParaPipes.chaining.syntax}}
    </code>
</pre>
<pre data-doc="syntax : chaining with pipe">
    <code>
    {{pipesCode.type.builin.someParaPipes.chaining.withPipe}}
    </code>
</pre>
<pre data-doc="1 name.componet.ts">
    <code>
    {{pipesCode.type.builin.someParaPipes.chaining.ex}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>date in uppercase : {{DOB | date:'medium' | uppercase}}</h5>
    </div>
</div>
<hr>
<h2>pipes with string</h2>
<hr>
<h3>uppercase</h3>
<p>Output data in uppercase , in this pipe</p>
<pre data-doc="1 name.componet.ts">
    <code>
    {{pipesCode.type.builin.someParaPipes.string.uppercase.syntax}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>text in uppercase : {{name | uppercase}}</h5>
    </div>
</div>
<hr>
<h3>lowercase</h3>
<p>Output data in lowercase , in this pipe</p>
<pre data-doc="1 name.componet.ts">
    <code>
    {{pipesCode.type.builin.someParaPipes.string.lowercase.syntax}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>text in uppercase : {{name | lowercase}}</h5>
    </div>
</div>
<hr>
<h3>slice</h3>
<p>slice pipe is slice to text.</p>
<p>if 'slice: 2' slice is remove first 2 leter form text.</p>slice
<pre data-doc="syntax">
    <code>
    {{pipesCode.type.builin.someParaPipes.string.slice.syntax}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <h5>text in slice : {{name | slice: 2}}</h5>
        <h5>text in slice : {{name | slice: 3:5}}</h5>
    </div>
</div>
<hr>
<h3>pipes with decimal</h3>
<pre data-doc="syntax">
    <code>
    {{pipesCode.type.builin.someParaPipes.decimal.syntax}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <h5>{{num | number: "8.2-4"}}</h5>
    </div>
</div>
<hr>
<h3>pipes with Json</h3>
<pre data-doc="syntax">
    <code>
    {{pipesCode.type.builin.someParaPipes.Jsonpipes.syntax}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>{{ JpList | json }}</h5>
    </div>
</div>
<hr>
<h3>Json pipes slice</h3>
<p>In slice - left part (remove) & rigth part (show);</p>
<p>If (slice: 1:3 ) means - (remove) 1 obj form array & (show) obj form array but start form (remove) obj.</p>
<pre data-doc="syntax">
    <code>
    {{pipesCode.type.builin.someParaPipes.Jsonpipes.withSlice.syntax}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h5>{{ JpList | slice: 1:4 | json }}</h5>
    </div>
</div>