<h1>redirective router</h1>
<hr>
<p>when we open any website than website go on landing page like - Login / Registration page</p>
<img src="../../../../assets/img/routing/redirect.png" class="img-fluid image" alt="">
<p>In redirective router , follow to <span class="imp">Step 2 of router working</span></p>
<pre data-doc="syntax">
    <code>
      {{codeRouting.redirect.syntax}}
    </code>
</pre>
<hr>
<h4>Example-</h4>
<pre data-doc="app.routing.module.ts">
    <code>
        {{codeRouting.redirect.EX}}
    </code>
</pre>
<p>this redirect configuration always top on all route configuration</p>