<h1>method Decorators</h1>
<hr>
<p> we use method in class </p>
<hr>
<h2>@HostListener()</h2>
<p>@HostListener is listen to <span class="imp">use responce</span></p>
<p>we use @HostListener() like  as <span class="imp">function</span></p>
<p>we handle to event by using @HostListener(), this @HostListener() is Listene to event of component</p>
<p>Syntax : <br>
<span class="imp">
    @HostListener('eventName') method() <span class="curly"><br>
        #code</span>
</span></p>
<p>where event is : <span class="imp">(click,mouseover,onscroll etc.)</span></p>
<hr>
<h3>how to use @HostListener()</h3>
<p>step 1 : First import HostListener in component</p>
<pre data-doc="1 . name.componet.ts">
    <code>
       {{decoratorCode.Method.ts}}
    </code>
</pre>