<h1>form array</h1>
<hr />
<p>
  Form Array is a class that convert in Array to formGroup formControl and it is
  tack to Stats and validity.
</p>
<p>We can create and Delete to input control</p>
<hr />
<h2 class="type">how to use Form Array</h2>
<p>Step 1 . import Form Array in <span class="imp">name.component.ts</span></p>
<pre data-doc="1 name.component.ts">
    <code>
       {{formCode.formArray.ts}}
    </code>
  </pre>
<p>Step 2 . Go <span class="imp">name.component.html</span></p>
<pre data-doc="2 name.component.html">
    <code>
      {{formCode.formArray.html}}
    </code>
  </pre>

<div class="output">
  <div class="p-3">
    <form [formGroup]="myForm" (ngSubmit)="fromSubmit()">
      <div class="mb-3">
        <input type="text" placeholder="your name" class="form-control" formControlName="name" />
      </div>
      <h4>Enter & Add your friends</h4>
        <hr>
      <div formArrayName="Friends">
        <ng-container
          *ngFor="let rowAll of myForm.get('Friends').controls; index as i">
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <input type="text" class="form-control" formControlName="{{ i }}" />
            </div>
            <div class="col-md-6 col-12 mb-3">
              <button class="btn btn-danger" type="button"(click)="deleteInput(i)">
                Delete
              </button>
            </div>
          </div>
        </ng-container>
        <button class="btn btn-success" type="button" (click)="addInput()">
          + Friends
        </button>
        &nbsp;
        <button class="btn btn-primary" type="submit">submit</button>
      </div>
      <h4>{{ output }}</h4>
    </form>
  </div>
</div>
