<h1>attribute</h1>
<p>An Attribute directive changes the appearance or behavior of a DOM element.</p>
<div data-type-heading="Attribute driective are two types" class="type">
    <a routerLink="../ngStyle">ngStyle</a>
    <a routerLink="../ngClass">ngClass</a>
</div>
<router-outlet></router-outlet>