<h1>reactive form</h1>
<hr>
<p>In Reactive form mostly work on <span class="imp"> name.component.ts</span></p>
<p>In Reactive form , model is work like mediator between component and template sothat this from called to Model-driven Reactive form</p>
<hr>
<h2>model</h2>
<h4>in model use inbuilt class-</h4>
<p><span class="imp">1 . Form Group : </span> Form Group is track to Group vaildity and state of form Control</p>
<p><span class="imp">2 . Form Control : </span> From Control is vaildate to Input
control and detect to value</p>
<hr>
<h2>features of reactive form</h2>
<p>we create to complex to complex in eassy ways form using to reactive form.</p>
<p>essay to testing.</p>
<hr>
<div data-type-heading="Reactive form type" class="type">
    <a [routerLink]="[ '../SimpleReactive' ]">simple reactive form</a>
    <a [routerLink]="[ '../FormBuilder' ]">reactive form with FormBuilder</a>
</div>
<router-outlet></router-outlet>
