.done {
  color: white;
  background: green;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  padding: 6px 10px 6px 10px;
}
.update {
  color: #007bff;
  cursor: pointer;
}
.delete {
  color: red;
  cursor: pointer;
}
