<h1>delete</h1>
<hr>
<div class="output" style="position: relative;">
    <div class="p-3">
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>name</th>
              <th>lastname</th>
              <th>email</th>
              <th>language</th>
              <th>update</th>
              <th>delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList">
              <th>{{ item.id }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.lastname }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.language }}</td>
              <td>
                <span (click)="editNow(item.id)" class="material-icons update">
                  update
                </span>
              </td>
              <td>
                <span (click)="delete_user(item.id)" class="material-icons delete">
                    delete_forever
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
  
        <br />
        <h4>Enter user user info
          <span *ngIf="done" class="done">
             {{message}}
          </span></h4>
        <hr />
        <form [formGroup]="userFrom" (ngSubmit)="submit()">
          <div class="mb-3">
            <input class="form-control" placeholder="id" formControlName="id" type="text" />
          </div>
          <div class="mb-3">
            <input class="form-control" placeholder="first name" formControlName="name" type="text" />
          </div>
          <div class="mb-3">
            <input class="form-control" placeholder="lastname" formControlName="lastname" type="text" />
          </div>
          <div class="mb-3">
            <input class="form-control" placeholder="email id" formControlName="email" type="text" />
          </div>
          <div class="mb-3">
            <input class="form-control" placeholder="language" formControlName="language" type="text" />
          </div>
          <button class="btn btn-success" type="submit" [disabled]="!userFrom.valid">
            Add User
          </button>
        </form>
      </div>
    </div>
  </div>