<h1>post</h1>
<hr />
<div class="output">
  <div class="p-3">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>name</th>
            <th>lastname</th>
            <th>email</th>
            <th>language</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userList ">
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.language}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <span *ngIf="done" class="done">new student has been created! </span>
  <br />
  <h4>Enter user user info</h4>
  <hr>
  <form [formGroup]="userFrom" (ngSubmit)="submit()">
    <div class="mb-3">
      <input class="form-control" placeholder="id" formControlName="id" type="text" />
    </div>
    <div class="mb-3">
      <input class="form-control" placeholder="first name" formControlName="name" type="text" />
    </div>
    <div class="mb-3">
      <input class="form-control" placeholder="lastname"  formControlName="lastname" type="text" />
    </div>
    <div class="mb-3">
      <input class="form-control" placeholder="email id" formControlName="email" type="text" />
    </div>
    <div class="mb-3">
      <input class="form-control" placeholder="language" formControlName="language" type="text" />
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!userFrom.valid">
      Add User
    </button>
  </form>
    </div>
  </div>
</div>
