<h1>what is Dependency Injection</h1>
<hr>
<p>Dependency Injection is technique inwhich pass to object than receive that object in another object</p>
<p>In Dependency Injection , one object depend on another object</p>
<p>Dependency Injection is a type of code pattern inwhich inject to source class in another class</p>
<img src="../../../../assets/img/DI/DiBlock.png" class="img-fluid image" alt="">
<hr>
<h2>Dependency + Injection</h2>
<p><span class="point">Dependency : </span>Dependency is a object & and service that use in another component.</p>
<p><span class="point">Injection : </span>Injection is process Inwhich pass to Dependency in dependent object</p>
<hr>
<h2>Dependency Injection system aspect</h2>
<div data-type-heading="Dependency Injection system has basic three aspect" class="type">
    <a>injector</a>
    <a>Provider</a>
    <a>Dependency</a>
</div>
<h3>injector</h3>
<p>injector is create instanse in Dependency than that instanse pass to provider</p>
<h3>provider</h3>
<p>provider in mechanism that register to Dependency's instanse</p>
<div data-type-heading="provider level type" class="type">
    <a>app level</a>
    <a>component level</a>
</div>
<p><span class="point">app level : </span>We set to provider:[ ] instanse in meta data of @NgModule in app.module.ts</p>
<p>if we use provider:[ ] instanse in app.module.ts so we no need set provider:[ ] instanse in <span class="no-need">each component</span></p>
<p><span class="point">component level : </span>We set to provider:[ ] instanse in meta data of @Component in name.component.ts</p>
<p>But if we use provider:[ ] in component level so we have to set provider:[ ] instanse in each component</p>

<h3>Dependency</h3>
<p>we inject to Dependency in constructor of component.</p>
