<h1>@ViewChild using Template variable</h1>
<hr />
<p>we pass template reference variable in @ViewChild as a argument <br>
syntax : <span class="imp">@ViewChild('variableName')</span></p>

<p>when we change style to <span  class="imp">(template reference variable)</span> so direct effect on <span class="imp"> DOM </span> and change view on Temlplate</p>
<hr>
£img
<hr>
<pre data-doc="1 name.component.html">
    <code>
        {{C_interaction.UsingTemplate.html}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{C_interaction.UsingTemplate.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <div #name >
            <h2>Hello , Template variable</h2>
        </div>
    </div>
</div>


