<h1>ngStyle</h1>
<hr>
<h2>1 ngStyle static</h2>
<p>syntax : <br>
<span class="imp">
    &lt;div [ngStyle]="<span class="curly">color:'white',background:'blue',height:'100px'</span>" &gt;
     &lt;/div&gt;
</span>
</p>
<div class="output">
    <div class="p-3">
        <div [ngStyle]="{ color: 'white', background: 'black', padding: '10px' }">
            <h6>Lorem, ipsum dolor sit amet consectetur</h6>
          </div>
    </div>
</div>
<hr>
<h2>2 ngStyle dynamic</h2>
<p>In ngStyle dynamic , style change in dom according to value change.</p>
<p><span class="imp">methood()</span> define on ts file</p>
<p>syntax : <br>
<span class="imp">&lt;div [ngStyle]=" <span class="curly">background:methood()</span>&"&gt;&lt;/div&gt;</span>
</p>
<pre data-doc="1 name.component.html">
    <code>
   {{ D_Attribute.ngStyle.dynamic.html}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
   {{ D_Attribute.ngStyle.dynamic.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
      <div *ngFor="let style of ngStyleData">
        <div [ngStyle]="{ background: methood(style.result) }">
            <p>name : {{ style.name }} & result : {{ style.result }}</p>
        </div>
      </div>
    </div>
</div>