<h1>pre loading</h1>
<hr>
<p>When Root module loaded than instantly load feature modules</p>
<p>This feature modules are load in <span class="imp">Background</span> When Root module loaded</p>
<hr>
<img src="../../../../../assets/img/moduleLoad/PM.png" class="img-fluld image" alt="">
<hr>
<h2>how to use pre-loading</h2>
<p>first import <span class="imp">preloadingStrategy</span> & <span class="imp">PreloadAllModules</span> in root module <span class="imp">(app.routing.module.ts)</span></p>
<hr>
<pre data-doc="app.routing.module.ts">
    <code>
    {{ModuleLoadCode.moduleLoading.preLoading.routeMode}}
    </code>
</pre>