<h1>session storage</h1>
<hr>
<p>In Session Storage , store to data only for <span class="imp">one session</span> , if user closed to browser than <span class="imp">session is expire</span> and data not available</p>
<p>syntax : <br>
for setitem - 
<span class="imp"> sessionStorage.setItem('sessionData', 'Enter your data');</span><br>
for getitem - 
<span class="imp"> sessionStorage.getItem('sessionData');</span>
</p>

<img src="../../../../../assets/img/session/session.png" class="img-fluid image" alt="" srcset="">
<hr>
