@media only screen and (max-width: 991px) {
  .intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .list_box {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    padding-top: 102px;
    background: #21242d;
    overflow-x: scroll;
    animation: fadeInDown;
    animation-duration: 500ms;
  }
  .list_box .nav-link {
    color: #e7c634;
  }
}
