<h1>template Form validation</h1>
<hr />
<pre data-doc="1 app.module.ts">
    <code>
     {{FormValidCode.tempValid.moduleTs}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{FormValidCode.tempValid.ts}}
    </code>
</pre>
<pre data-doc="3 name.component.html">
    <code>
        {{FormValidCode.tempValid.html}}
    </code>
</pre>
<pre data-doc="4 name.component.css">
    <code>
        {{FormValidCode.tempValid.css}}
    </code>
</pre>
<hr />
<div class="output">
    <div class="p-3">
        <form #myform="ngForm" (ngSubmit)="SubMethood(myform)">

            <div class="mb-3"> 
                <label class="form-label">your name</label>
                <input type="text"  class="form-control" name="name" #name="ngModel" required ngModel />
                <span *ngIf="name.invalid && name.touched" class="error">* you not enter name or name is invalid
                </span>
              </div>

              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" #password="ngModel" required ngModel />
                <span *ngIf="password.invalid && password.touched" class="error">* you not enter password or password is invalid </span>
              </div>

              <button type="submit"  [disabled]="myform.invalid" class="btn btn-primary">Submit Now</button>
              <h4>{{output | json}}</h4>
        </form>
    </div>
</div>