<h1>what is life cycle</h1>
<hr>
<p>In angular , life cycle hook apply on <span class="imp">component</span>.</p>
<p><span class="imp">each component</span> has own life cycle hook inwhich that component is <span class="imp">👶 create → 🏃‍♀️ working → 💀 destroy</span></p>
<p>In life cycle hook , any method execute in sequence.</p>
<p>In life cycle hook has <span class="imp">8 stages</span> . this stages called to <span class="imp">Hook event</span></p>
<hr />
<img src="../../../../assets/img/lifeCycle/lifeCycleblock.png" class="img-fluid image" alt="">
<hr />