<h1>Component driective</h1>
<hr />
<p>
  Component is also one type of directive , In Component has together (template
  ,style,logic)
</p>
<hr />
<pre data-doc="1 name.component.ts">
    <code>
    {{D_Component.ts}}
    </code>
</pre>
<pre data-doc="2 name.component.html">
    <code>
    {{D_Component.html}}
    </code>
</pre>
<div class="output">
  <div class="p-3">
    <button class="btn btn-primary" (click)="alertEvent()">click here</button>
  </div>
</div>
