<h1>service</h1>
<hr>
<p>service is a piece of code that is perform specific task</p>
<p>service is combination of <span class="imp">property , value , method</span></p>
<p>if want to use service so we need to inject service in target component by using Dependency Injection</p>
<p>service is a reusable code , that is inject in component</p>
<p>service is class inwhich has own <span class="ipm">property , value , method</span> and this all thing is apply on component </p>
<img src="../../../../assets/img/DI/depI.png" class="img-fluid image" alt="">
<hr>
<h2>how to use service</h2>
<p><span class="point">Step : 1</span> first create service ,For type in command </p>
<span class="CLI"> ng g s ServiceName</span>
<pre data-doc="1 name.service.ts">
    <code>
  {{DI_Code.serviceTs}}
    </code>
</pre>
<p><span class="point">Step : 2</span> import to service class name in target component</p>
<p>In @Component decorator register to service in provider <br>
<span class="imp"> providers: [serviceName]</span></p>
<p>inject to serviceName in constructor of Component <br>
<span class="imp">constructor(private variableName: serviceName) 
 <span class="curly"> </span></span></p>
 <p>use this variableName anywhere</p>
 <pre data-doc="2 name.component.ts">
    <code>
        {{DI_Code.ts}}
    </code>
</pre>
<pre data-doc="3 name.component.html">
    <code>
        {{DI_Code.html}}
    </code>
</pre>
<hr>
 <div class="output">
     <div class="p-3">
       <h4>{{text_data}}</h4>
     </div>
 </div>