<h1>how to do routing</h1>
<hr />
<h2>use as static routing</h2>
<p>Step 1 : create component like - student</p>
<span class="CLI">ng g c student</span>
<p>Step 2 : go <span class="imp">app.routing.module.ts</span></p>
<pre data-doc="1 . app.routing.module.ts">
    <code>
   {{codeRouting.howToRouting.Static.ts}}
    </code>
</pre>
<p>Step 3 : go <span class="imp">app.component.html</span></p>
<pre data-doc="2 . app.component.html">
    <code>
        {{codeRouting.howToRouting.Static.html}}
    </code>
</pre>
<hr>
<h2>use as dynamic or server side routing</h2>
<p>  In server side routing , components are navigate based on codition and logic</p>
<p>Step 1 : create component like - student</p>
<span class="CLI">ng g c student</span>
<p>Step 2 : go <span class="imp">app.component.ts</span></p>
<pre data-doc="1 . app.component.ts">
    <code>
        {{codeRouting.howToRouting.dynamic.ts}}
    </code>
</pre>
<p>Step 3 : go <span class="imp">app.component.html</span></p>
<pre data-doc="2 . app.component.html">
    <code>
        {{codeRouting.howToRouting.dynamic.html}}
    </code>
</pre>
