<h1>reactive form validation</h1>
<hr>
<pre data-doc="1 app.module.ts">
    <code>
     {{FormValidCode.reactValid.moduleTs}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
     {{FormValidCode.reactValid.ts}}
    </code>
</pre>
<pre data-doc="3 name.component.html">
    <code>
     {{FormValidCode.reactValid.html}}
    </code>
</pre>
<pre data-doc="4 name.component.css">
    <code>
     {{FormValidCode.reactValid.css}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <form [formGroup]="myform" (ngSubmit)="FormSubmit()">
            <div class="mb-3"> 
                <label class="form-label">your first name</label>
                <input type="text"  class="form-control" formControlName="firstname"/>
                <span class="error" *ngIf="firstname.invalid && firstname.touched">* invalid name</span>
              </div>

              <div class="mb-3"> 
                <label class="form-label">your last name</label>
                <input type="text"  class="form-control" formControlName="lastname"/>
                <span class="error" *ngIf="lastname.invalid && lastname.touched">* invalid last name</span>
              </div>

              <div class="mb-3"> 
                <label class="form-label">your password</label>
                <input type="password"  class="form-control" formControlName="password"/>
                <span class="error" *ngIf="password.invalid && password.touched">* invalid password (use capital small ,letter ,number & special character & length - &lt; min 8 , &gt;max 16)</span>
              </div>

              <div class="mb-3"> 
                <label class="form-label">your moblie no.</label>
                <input type="text"  class="form-control" formControlName="moblie"/>
                <span class="error"  *ngIf="moblie.invalid && moblie.touched">* invalid moblie number</span>
              </div>

              <button type="submit" [disabled]="myform.invalid" class="btn btn-primary">Submit Now</button>
              <h4>{{output | json}}</h4>
        </form>
    </div>
</div>