<h1>custom pre loading</h1>
<hr>
<p>In custom-pre-loading , load any feature modules </p>
<p>In custom-pre-loading , override method of <span class="imp">PreloadAllModules</span></p>
<p>create custom service for custom-pre-loading </p>
<hr>
<h2>how to use custom-pre-loading</h2>
<p>Step 1 : first create service</p>
<span class="CLI">ng g s myservice</span>
<pre data-doc="1 name.service.ts">
    <code>
   {{ModuleLoadCode.moduleLoading.CustompreLoading.service}}
    </code>
</pre>
<p>Step 2 : import <span class="imp">service</span> and in routes use <span class="imp">data:  <span class="curly">preload: true </span></span></p>
<pre data-doc="2 app.routing.module.ts">
    <code>
        {{ModuleLoadCode.moduleLoading.CustompreLoading.routeMode}}
    </code>
  </pre>