.nav_container {
  position: relative;
  padding: 0px;
}
.nav_container .nav_container_side {
  height: 100vh;
  background-color: rgb(221, 220, 220);
  width: 320px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 900;
}
.nav_container .nav_container_main {
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  z-index: 800;
}
.NAVBAR {
  background-color: #DD0330;
}
.menu {
  color: white;
  font-size: 36px !important;
}

.navbar-toggler {
  border: 1px solid transparent !important;
  padding: 0px !important;
}
.btn {
  outline: none !important;
}
.main_heading {
  color: white;
  background-color: #DD0330;
  width: 100%;
  font-size: 20px;
  text-align: start;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
  font-weight: 800;
}
.topic_list_btn {
  color: white;
}
.menu {
  position: relative;
  cursor: pointer;
}
.menu::after {
  content: "Angular";
  position: absolute;
  top: -6px;
  left: 43px;
  text-transform: uppercase;
  font-size: 36px !important;
  font-weight: 600;
}

.back {
  float: right;
  font-size: 43px !important;
  padding-right: 20px;
  color: #DD0330;
  cursor: pointer;
  margin: 0 0.5rem;
  animation: shakeX;
  animation-duration: 3s;
}

#Topic_Navigation .nav-link {
  color: #DD0330;
  font-weight: 700;
  text-transform: uppercase;
}
#Topic_Navigation .nav-link:hover {
  color: black;
  background-color: #cdcdce;
}
/* __component__ */
#component {
  height: 100vh;
}
