<div class="container-fluid nav_container">

    <div *ngIf="SideNav" class="nav_container_side">
        <span class="material-icons back closed" (click)="closenav(false)">
            keyboard_backspace
        </span>
        <a [routerLink]="['']" class="side_logo">
            <img src="../../assets/img/home/angular-brands.svg" class="img-fluid mx-auto d-block" alt="" width="230" srcset="" />
        </a>
        <div class="NavContainer Get_scroll">
            <nav *ngFor="let NavList of List; let i = index;" class="nav flex-column" id="Topic_Navigation">

            <a class="nav-link mb-2" (click)="close(false,i)" routerLinkActive="TopicActive"  [routerLink]="[NavList.path]">{{NavList.topic}}</a>

            </nav>
        </div>
    </div>

    <div class="nav_container_main">
        <!-- navbar -->
        <nav class="navbar navbar-light fixed-top NAVBAR">
            <div class="container-fluid">
                <a class="navbar-brand logo" id="open">
                    <span class="material-icons menu" (click)="open(true)">
                        menu 
                    </span>
                </a>
                <a class="will_only_mobile">
                    <span class="material-icons topic_list_btn">
                        more_vert 
                    </span>
                </a>
            </div>
            <div class="main_heading">{{TopicHeading}}</div>
        </nav>
        <!-- navbar end -->
     
        <main>
            <div class="container-fluid">
                <!-- component laad here-->
                <router-outlet></router-outlet>
            </div>
        </main>

    </div>
</div>
