<h1>feature modules</h1>
<hr>
<img src="../../../../assets/img/moduleLoad/FM.png" class="img-fluid image" alt="" srcset="">
<p>If Application is big in that condition use multiple module. this multiple module are called to <span class="imp">Feature Modules</span>.</p>
<p>Feature Modules is like Child module and root Module <span class="imp">app.module.ts</span> is parent module</p>
<p>In Feature Modules has own <span class="imp"> (service,directive,component,routing module) </span></p>
<p>no need import this all <span class="imp"> (service,directive,component,routing module) </span> in root module ,Only import Feature Module</p>
<p>Feature Modules use for organised code</p>
<p>Create Feature Modules -</p>
<span class="CLI">ng g m moduleName</span>
<p>Create Feature Modules with routing -</p>
<span class="CLI">ng g m ModuleName --routing</span>