<h1>Introduction</h1>
<hr />
<h2>What is Angular</h2>
<p>
  Angular is platform and the Framework for the building client application in
  typescript and HTML
</p>
<p>Angular developed by google</p>
<p>Angular is javascript framwork</p>
<hr />
<h3>features</h3>
<p>speed & performance</p>
<p>small application</p>
<p>modular application</p>
<p>cross platform (mobile & destop)</p>
<p>(s p a) single page application</p>
<p>restful API</p>
<hr />
<h3>Angular version(10.0.7)</h3>
<p>(10) major - in breaking changes</p>
<p>(0) mainor - in small changes and add feature</p>
<p>(7) pacrch - in bug fixes</p>
