<h1>what is module loading</h1>
<hr />
<p>In Module Loading use <span class="imp"> Feature Modules</span></p>
<p>In Module Loading , load all module with Diffrent ways</p>
<hr />
<h2>Module Loading types</h2>
<div data-type-heading="Types of module loading" class="type">
  <a [routerLink]="['../Eager-Loading']">Eager Loading</a>
  <a [routerLink]="['../Lazy-Loading']">Lazy Loading</a>
  <a [routerLink]="['../Pre-Loading']">Pre Loading</a>
  <a [routerLink]="['../Custom-Pre-Loading']">Custom Pre-Loading</a>
</div>
<router-outlet></router-outlet>
