<h1>create module</h1>
<hr />
<p>for create module type is command-</p>
<span class="CLI">ng g m moduleName</span>
<p>new create module called to feature module</p>
<p>create module with routing module type is command-</p>
<span class="CLI">ng g m ModuleName --routing</span>
