<h1>get</h1>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>lastname</th>
      <th>email</th>
      <th>language</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of userList">
      <td>{{ users.id }}</td>
      <td>{{ users.name }}</td>
      <td>{{ users.lastname }}</td>
      <td>{{ users.email }}</td>
      <td>{{ users.language }}</td>
    </tr>
  </tbody>
</table>
