<h1>Two way data binding</h1>
<hr>
<p>Two way data bind use in mostly form input field</p>
<p>In Two way data binding data flow viwe to component & viwe to component</p>
<img
  src="../../../../../assets/img/dataBind/databind.png"
  class="img-fluid"
  alt=""
  srcset=""
/>
<hr>
<h2>1 .Two way data binding using to ngModel directive.</h2>
<h4>follwing this steps</h4>
<pre data-doc="syntax">
    <code>
     {{dataBinding.twoway.eventAndPro.syntax}}
    </code>
</pre>
<h4>Example</h4>
<pre data-doc="1 name.component.ts">
    <code>
     {{dataBinding.twoway.eventAndPro.html}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
     {{dataBinding.twoway.eventAndPro.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <input type="text" [value]="inputdata" (input)="inputdata = $event.target.value" /> <br>
         <span> text here : {{inputdata}}</span>
    </div>
</div>
<hr>
<h2>2 .Two way data binding using to ngModel directive.</h2>
<hr>
<h4>follwing this steps</h4>
<p>step 1 : first import this module in <span class="imp">app.module.ts</span></p>
<pre data-doc="1 name.component.ts">
    <code>
     {{dataBinding.twoway.ngModel.appImport}}
    </code>
</pre>  
<pre data-doc="2 name.component.html">
    <code>

        &lt;input type="text" [(ngModel)]="variable" /&gt;
    </code>
</pre> 
<div class="output">
    <div class="p-3">
        <input type="text" [(ngModel)]="ngModelEx"/> <br>
        <span> text here : {{ngModelEx}}</span>
    </div>
</div>