<h1>form builder</h1>
<hr />
<p>
  step 1 : fisrt import to ReactiveFormsModule in
  <span class="imp">app.module.ts</span>
</p>
<pre data-doc="1 app.module.ts">
    <code>
        {{formCode.reactive.formBuilder.appMode}}
    </code>
</pre>
<p>step 2 : go on name.component.ts</p>
<pre data-doc="2 app.module.ts">
    <code>
        {{formCode.reactive.formBuilder.ts}}
    </code>
</pre>
<p>step 3 : go on name.component.html</p>
<pre data-doc="3 app.module.html">
    <code>
        {{formCode.reactive.formBuilder.html}}
    </code>
</pre>
<hr />
<div class="output">
  <div class="p-3">
    <form [formGroup]="myForm" (ngSubmit)="FormBuil()">
      <div class="mb-3">
        <label class="form-label">your name</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="mb-3">
        <label class="form-label">your name</label>
        <input type="text" class="form-control" formControlName="password" />
      </div>
      <button type="submit" class="btn btn-primary">submit here</button>
      <h4>{{ output | json }}</h4>
    </form>
  </div>
</div>
