<h1>what is cookies</h1>
<hr />
<p>cookies is a some data of website, this cookies set is user browser</p>
<p>Cookies are text files with small pieces of data — like a username and password — that are used to identify your computer as you use a computer network</p>
<p>website is load fast when cookies hes in user browser</p>
<p>In cookies data may be - any script , use information , css etc.</p>
<hr>
<img src="../../../../assets/img/CookiesImg/Cookies.png" class="img-fluid image" alt="">
<hr />
<img src="../../../../assets/img/CookiesImg/setcookies.png" class="img-fluid image" alt="">
<hr>
<h2>cookies uses</h2>
<p>to use authentication</p>
<p>to improve the website's usability</p>
<p>to analyze the use of the website</p>
<p>to track you as you navigate the website, and to enable the use of any e-commerce facilities</p>
<hr>
<div data-type-heading="Types of cookies" class="type">
    <a>Session cookies</a>
    <a>Permanent cookies</a>
    <a>Third-party cookies</a>
    <a>Flash cookies</a>
    <a>Zombie cookies</a>
</div>
<hr>
<h2>cookies method</h2>
<p> <span class="point">check() : </span> this method is check that cookies <span class="imp">yes or not ?</span></p>
<!--  -->
<p> <span class="point">set() : </span> this method is set cookies in browse <br>
<span class="imp">syntax: set('key','value')</span>
</p>
<!--  -->
<p> <span class="point">get() : </span>this method is get cookies from <span class="imp">set</span> method <br>
<span class="imp">syntax: get('key')</span></p>
<!--  -->
<!--  -->
<p> <span class="point">delete() : </span>this method is delete cookies data from browser <br>
<span class="imp">syntax: delete('key')</span></p>
<!--  -->
<p> <span class="point">getAll() : </span>this method is get all cookies data from browser </p>
<!--  -->
<p> <span class="point">deleteAll(): </span>this method is delete all cookies data from browser </p>
