<h1>java script promise</h1>
<hr />
<p>promise is always Asynchronous(async)</p>
<p>But Observables may be Asynchronous or synchronous</p>
<p>promise is always return single value ⟶ resolve or reject <br>
    <span class="point">resolve : </span> Task has completed. <br>
    <span class="point">reject : </span> Task has not complete.
</p>
<p>But observables is return stream of value <br>
    <span class="point">stream of value :</span> In stream of value , data is emmit in few-few time <br>
    example - data---->data---->data--->data </p>
<!--  -->
<hr>
<h2>promise block diagram</h2>
<img src="../../../../../assets/img/rxjs/promise.png" class="img-fluid image" alt="">
<hr>
<h2>promise syntax</h2>

<pre data-doc="syntax.ts">
    <code>
        {{RxjsCode.promise.syntax.one}}
    </code>
</pre>
<hr>
<h2>example</h2>
<pre data-doc="1 name.component.html">
    <code>
        {{RxjsCode.promise.example.html}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{RxjsCode.promise.example.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <strong>{{message}}</strong><br>
        <button class="btn btn-primary" (click)="itemCheck()">check item</button>
    </div>
</div>