<h1>What is Data binding</h1>
<hr>
<p>In data binding , bind to data but data binding process in dynamically</p>

<p>In data binding , bind data <span class="imp">Ts</span> to <span class="imp">html</span> & <span class="imp">html</span> to <span class="imp">ts</span></p>

<p>In this data bind to <span class="imp">ts component</span> to <span class="imp">html view</span> & <span class="imp">html view</span> to <span class="imp"> ts component</span> </p>
<figure>
    <img src="../../../../assets/img/dataBind/databind.png" class="img-fluid" alt="">
</figure>
<hr>
<h2>Data Binding Classfication</h2>
<figure>
    <img src="../../../../assets/img/dataBind/dataBindClassfication.png" class="img-fluid" alt="">
</figure>
<hr>
<h2>Data Binding type</h2>
<div data-type-heading="Data binding types" class="type">
    <a>One way data binding</a>
    <a>Two way data binding</a>
</div>