<h1>ngFor</h1>
<hr />
<p>In ngFor we repeated to template</p>
<p>syntax : <span class="imp">*ngFor="let variableName of collection"</span></p>
<p>where - collection is array</p>
<pre data-doc="1 name.component.html">
   <code>
    {{D_Structural.ngForL.html}}
   </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
     {{D_Structural.ngForL.ts}}
    </code>
 </pre>
 <p>where <span class="imp">any[ ]</span> means that data may any types => (like Boolean,String,number)</p>

 <div class="output">
     <div class="p-3">
        <div *ngFor="let country of countries">
            <span>country : {{ country.name }}</span>
        </div>
     </div>
 </div>

 <hr>
 <h2>ngFor lacal variable</h2>
 <h4>1 . index-</h4>
<p>it do numbering to list when run loop so it's provide index to current element</p>
<p> index is always start from zero if you want to start form 1 do use <span class="imp">(i + 1)</span></p>
<pre data-doc="1 name.component.html">
    <code>
       {{ D_Structural.ngForL.lacal_var.index}}
    </code>
 </pre>
 <div class="output">
    <div class="p-3">
       <div *ngFor="let country of countries;let i = index">
           <span> {{i+1}} country : {{ country.name }}</span>
       </div>
    </div>
</div>
<hr> 
<h4>2 . first & last-</h4>
<p>it is return true when element is first & last othervice return false</p>
<pre data-doc="1 name.component.html">
    <code>
       {{ D_Structural.ngForL.lacal_var.first_last}}
    </code>
 </pre>

 <div class="output">
    <div class="p-3">
       <div *ngFor="let country of countries; let F = first;let L = last">
           <span> {{F}} country : {{ country.name }} {{L}}</span>
       </div>
    </div>
</div>
<hr>
<h4>3 . odd & even-</h4>
<p>if current element is odd & even so return ture othervice return false</p>
<pre data-doc="1 name.component.html">
    <code>
       {{ D_Structural.ngForL.lacal_var.odd_even}}
    </code>
 </pre>
 <div class="output">
    <div class="p-3">
       <div *ngFor="let country of countries;  let O = odd;let E = even">
           <span> {{O}} | country : {{ country.name }}  |  {{E}}</span>
       </div>
    </div>
</div>
<hr>
<h2>track by ngFor</h2>
<p>We use <span class="imp">ngfor</span> for show data but data in bulk so create performace issue so that we use track by ngFor</p>
<pre data-doc="1 name.component.ts">
    <code>
        {{ D_Structural.ngForL.track.ts}}
    </code>
 </pre>
 <pre data-doc="2 name.component.html">
    <code>
       {{ D_Structural.ngForL.track.html}}
    </code>
 </pre>
 <div class="output">
<div class="p-3">
       <div *ngFor="let device of moblie;let i=index;TrackBy:TrackBymetod">
           <span> {{i+1}} country : {{ device.name }}</span>
       </div>
       <button class="btn btn-primary btn-sm" (click)="getmore()">load more</button>
</div>
</div>
<hr>
<h2>grouping with ngFor </h2>
<pre data-doc="1 name.component.ts">
    <code>
        {{ D_Structural.ngForL.grouping.ts}}
    </code>
 </pre>
 <pre data-doc="2 name.component.html">
    <code>
       {{ D_Structural.ngForL.grouping.html}}
    </code>
 </pre>
<div class="output">
    <div class="p-3">
        <ul *ngFor="let person of bank">
            <li>{{person.name}}
                 <ul *ngFor="let AcType of person.account">
                    <li>{{AcType.type}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>