<h1>One way data binding</h1>
<hr>
<h2>Interpolation</h2>
<p>In Interpolation bind to data in UI element</p>
<p>Data binding direction : <span class="imp">html(view)</span> <--- <span class="imp">TS (component)</span></p>
<p>In Interpolation only bind to variable but not change.</p>
<h4>what can be do in Interpolation ?</h4>
<p>bind mathematical operation</p>
<p>bind concat in Interpolation</p>
<p>bind method() in Interpolation</p>
<pre data-doc="1 name.component.html">
    <code>
        {{dataBinding.oneway.Interpolation.html}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{dataBinding.oneway.Interpolation.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        {{Interpolation}} <br> {{100+100}} <br> {{ InterP()}}
    </div>
</div>
<hr>
<h2>property binding</h2>
<p>In property binding , bind to data in html of component</p>
<pre data-doc="syntex">
    <code>

        &lt;div [property]="expression" &gt; &lt;/div&gt;

         property = src , type ,innerHTML etc.
         expression = methoot(),variable ,true ,false etc.
    </code>
</pre>
<h4>Example:</h4>
<pre data-doc="1 name.component.html">
    <code>
        {{dataBinding.oneway.property.html}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{dataBinding.oneway.property.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <button class="btn btn-dark" [disabled]="isdisable">Button</button>
    </div>
</div>
<hr>
<h2>attribute binding</h2>
<p>we bind attribute value dynamic in attribute binding</p>
<pre data-doc="syntex">
    <code>

        &lt;div [attr.name of attribute]="expression" &gt; &lt;/div&gt;

         name of attribute = height,width,colspan,data-,etc.
        expression = methoot(),variable etc.
    </code>
</pre>
<h4>Example</h4>
<pre data-doc="1 . name.componet.ts">
    <code>
        {{dataBinding.oneway.attribute.ts}}
    </code>
</pre>
<pre data-doc="1 . name.componet.html">
    <code>
        {{dataBinding.oneway.attribute.html}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <img src="https://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/newseventsimage_1529346275459_mainnews2012_x1.jpg" alt="" [width]="imgWidth" srcset="">
    </div>
</div>
<hr>
<h2>event binding</h2>
<p>In event binding , we bind to event like - click ,change,mouseout etc</p>
<div class="output">
    <div class="p-3">
        <button class="btn btn-dark" (click)="eventBind()" >Button</button>
    </div>
</div>