<h1>setup cookies</h1>
<hr>
<p>step 1 : types is command</p>
<span class="CLI">npm install ngx-cookie-service --save</span>
<p>step 2 : import cookie-service in <span class="imp">app.module.ts/features module</span></p>
<pre data-doc="2 app.module.ts">
    <code>
  {{cookiesCode.appMode}}
    </code>
</pre>
<p>step 3 : inject cookie-service in component</p>
<pre data-doc="3 name.component.ts">
    <code>
  {{cookiesCode.ts}}
    </code>
</pre>

<p>step 4 : go html</p>
<pre data-doc="3 name.component.html">
    <code>
  {{cookiesCode.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <h4>This is Cookies data : {{GetCookieData}}</h4>
        <button class="btn btn-dark" (click)="cookie_set()">set cookie</button>&nbsp;
        <button class="btn btn-dark" (click)="cookie_get()"> get cookie</button>&nbsp;
        <button class="btn btn-dark" (click)="cookie_delete()"> delete cookie</button>
    </div>
</div>
<hr>
