<h1>What is module</h1>
<hr>
<p>module is a container. in that has grouping of logical coomponent, logical of service </p>

<p>in application module may be multiple .these multiples modules call to features modules</p>

<p>application has default module that's call to root module.</p>
<hr>
<h3>default module <span class="imp">(app.module.ts)</span></h3>
<pre data-doc="1 app.module.ts">
    <code class="language-javascript">
    {{CodeAppMode}}
    </code>
</pre>

<div data-type-heading="three part in module" class="type">
    <a>declarations: [---Component---]</a>
    <a>imports: [---Modules---]</a>
    <a>providers: [---service---]</a>
</div>