<h1>empty path</h1>
<hr />
<p>In Empty path, used component settel in URL</p>
<pre data-doc="syntax">
    <code>
   {{codeRouting.empty.syntax}}
    </code>
</pre>
<p>Empty path is always put on top in routing configuration</p>
<hr />
<h4>Example -</h4>
<pre data-doc="app.routing.module.ts">
    <code>
        {{codeRouting.empty.Ex}}
    </code>
</pre>
