<h1>what is observables</h1>
<hr />
<p><span class="imp">Observables</span> is class that is Belong from <span class="imp">Rxjs library</span></p>
<p>In angular CLI , Rxjs pre install</p>
<p>we Observables or promise use for <span class="imp">asynchronous programming</span> </p>
<p>if we use <span class="imp">Observables</span> so <span class="imp">subscribe()</span> method must call for that in component</p>
<p>Some method is use in Observables class like - mep,mergeMep,exhaustMep,SwitchMep,debounceTime,of,retry etc</p>
<hr>
<h2>synchronous and asynchronous programming</h2>
<img src="../../../../assets/img/rxjs/simple.png" class="img-fluid image" alt="">
<img src="../../../../assets/img/rxjs/observable.png" class="img-fluid image" alt="">