<h1>directive using view child</h1>
<hr />
<p>In @viewChild directive , we create instance of directive than ues on parent component</p>
<p>In @viewChild directive , we use method of directive in parent component</p>
<p>we use <span class="imp">AfterViewInit</span> life cycle method for load to directive , this diretive is load after component load</p>
<hr>
<img src="../../../../../assets/img/CI/DirectiveVChild.png" class="img-fluid image" alt="" srcset="">
<hr>
<pre data-doc="1 name.directive.ts">
    <code>
      {{C_interaction.UsingDirective.Directive_ts}}
    </code>
</pre>

<pre data-doc="2 name.component.ts">
    <code>
        {{C_interaction.UsingDirective.ts}}
    </code>
</pre>

<pre data-doc="3 name.component.html">
    <code>
        {{C_interaction.UsingDirective.html}}
    </code>
</pre>

<hr>
<div class="output">
    <div class="p-3">
        <h2 appDVC>Hello , Angular</h2>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="CBR" 
            (click)="selectColor('green')">
            <label class="form-check-label">
               Select yellow
            </label>
          </div>
        
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CBR"
            (click)="selectColor('blue')">
            <label class="form-check-label">
             Select blue
            </label>
          </div>
        
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CBR"
            (click)="selectColor('gray')">
            <label class="form-check-label">
              Select gray
            </label>
          </div>
    </div>
</div>
