<h1>1 . parent with child</h1>
<p>In this route types load child components with parent component.</p>
<img src="../../../../assets/img/routing/cild_route_types1.png" class="img-fluid image" alt="">
<h4>Example-</h4>
<pre data-doc="1 . app.routing.module.ts">
    <code>
    {{codeRouting.childRoute.withParent.ts}}
    </code>
</pre>
<pre data-doc="2 . name.component.html">
    <code>
        {{codeRouting.childRoute.withParent.html}}
    </code>
</pre>
