<h1>async with ngif</h1>
<hr />
<p>In which use particular data of <span class="imp">id</span></p>
<p>In name.service.ts pass id in method And this id bind in <span  class="imp">URL + '/'+ id</span> </p>
<p>Inwhich also use async in template with ngIf async pipe</p>
<p>Inwhich use <span class="imp">loader as else condition</span> , it is working that time when waitting for <span class="imp">server response</span></p>
<p>In Observables async with ngif - not return array in interface name <br>
  example: <span class="no-need">&lt;customTypes[ ]&gt;</span> &
  <span class="imp">&lt;customTypes&gt;</span>
</p>
<hr>
<img src="../../../../assets/img/rxjs/loaderIf.png" class="img-fluid image" alt="">
<hr>
<pre data-doc="1 name.service.ts">
    <code>
  {{RxjsCode.asyncPipeIf.service}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
   {{RxjsCode.asyncPipeIf.ts}}
    </code>
</pre>
<pre data-doc="3 name.component.html">
    <code>
    {{RxjsCode.asyncPipeIf.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <div *ngIf="listing | async as show; else: loading">
            <h6>id : {{ show.id }}</h6>
            <h6>name : {{ show.name }}</h6>
            <h6>username : {{ show.username }}</h6>
            <h6>email : {{ show.email }}</h6>
            <h6>website : {{ show.website }}</h6>
          </div>
          <ng-template #loading>
            <div class="centerXY">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
          </ng-template>
    </div>
</div>
