<h1>wild card route</h1>
<hr>
<img src="../../../../assets/img/routing/page-not-found.png" class="img-fluid image" alt="">
<p>when the path of URl has not in routes configuration or invaild than work wild card route Like - Page not found.</p>
<hr>
<pre data-doc="app.routing.module.ts">
    <code>
    {{codeRouting.wildCard.syntax}}
    </code>
</pre>