<h1>ng-template</h1>
<hr>
<p>ng-template is virtual element for <span class="imp">render to html</span></p>
<p>ng-template is render to html, <span class="imp">based on condition</span></p>
<p>when we apply <span class="imp">directive (like -ngFor,ngIf,ngSwitch)</span> then show, <span class="imp">content</span> of ng-template</p>
<p>this ng-template does not effect in <span class="imp">DOM</span></p>
<hr>
<h2>ng-template directive</h2>
<hr>
<p>1 . <span class="imp">ngIf</span> with ng-template</p>
<pre data-doc="syntax">
  <code>
      {{desugars.ngTemp.Ngif.syntax}}
  </code>
</pre>
<hr>
<p>2 . <span class="imp">ngIf</span> with ng-template <span class="imp">reference variable</span> </p>
<pre data-doc="syntax">
  <code>
      {{desugars.ngTemp.Ngif.referenceVar}}
  </code>
</pre>
<hr>
<p>3 . <span class="imp">ngFor</span> with ng-template</p>
<pre data-doc="syntax">
  <code>
      {{desugars.ngTemp.Ngfor.syntax}}
  </code>
</pre>
<hr>
<p>4 . <span class="imp">ngSwitch</span> with ng-template</p>
<pre data-doc="syntax">
  <code>
      {{desugars.ngTemp.Ngswitch.syntax}}
  </code>
</pre>

  
