<h1>ng container</h1>
<hr />
<p>ng-container is <span class="imp">logical container</span>,that is group of <span class="imp">node</span></p>
<p>Syntax : <br>
<span class="imp">&lt;ng-container&gt;&lt;/ng-container&gt;</span></p>
<p>ng-container is same like ng-template but no need to apply <span class="no-need">condition or directive</span> For display to content</p>
<p>When render html , than Tag of ng-container is not add in <span class="imp">DOM tree</span> only show <span class="imp">content of ng-container</span></p>
<p>means ng-container is replace to <span class="imp">unnecessary div</span></p>
<img src="../../../../../assets/img/microsyntax/ngContainer.png" class="img-fluid image" alt="">
<hr>
<h2>where can be use ?</h2>
<hr>
<h3>1 . two directive with ng-container</h3>
<pre data-doc="syntax">
    <code>
     {{desugars.ngContainer.twoDirective}}
    </code>
</pre>
<hr>
<h3>2 . with error message with ng-container</h3>
<pre data-doc="syntax">
    <code>
     {{desugars.ngContainer.forError}}
    </code>
</pre>
<hr>
<h3>3 . dynamic add content with ng-container</h3>
<img src="../../../../../assets/img/microsyntax/DYngC.png" class="img-fluid image" alt="">
<pre data-doc="name.component.ts">
    <code>
     {{desugars.ngContainer.DynamicAddContent.ts}}
    </code>
</pre>
<pre data-doc="name.component.html">
    <code>
        {{desugars.ngContainer.DynamicAddContent.html}}
    </code>
</pre>
<hr>
