<h1>router</h1>
<hr />
<p>Router is library of routing that's import from @angular/router.</p>
<p>
  Router is active to that component Inwhich has navigate. in navigate process
  components are load without reloading to page
</p>
<p>Router is also update to browser history for back and forword</p>
<hr />
<h2>what is allows Router for Application?</h2>
<p>it is redirect to one url from another url.</p>
<p>Router is allows to lazy laod in Application</p>
<hr />
<h2>How to work router ?</h2>
<p>
  Router is navigate to all component in Application when user click on
  (link,url). In this navigation process , router is follow some steps-
</p>
<div class="step">
  <!-- step 1 -->
  <h4>Parse the URL-</h4>
  <p>router is parse to URl than create tree</p>
  <p>in parse process , router use some convention -</p>
  <h6><span class="imp text-primary"> / </span> - its divide to URL in segments.</h6>
  <h6><span class="imp text-primary"> ( ) </span> - this is secondary router</h6>
  <h6><span class="imp text-primary"> : </span> - this is named router outlet</h6>
  <h6><span class="imp text-primary"> ; </span> - this is matrix parmeter</h6>
  <h6><span class="imp text-primary"> ? </span> - this is Query string parmeter</h6>
  <h6><span class="imp text-primary"> # </span> - this is fragment</h6>
  <h6><span class="imp text-primary"> // </span> - this is multiple secondary router</h6>
  <!-- step 2 -->
  <h4>redirect-</h4>
  <p>in this step first check is this , redirect is apply (yes or not) before check to URL tree. If apply redirect so navigate it,s.</p>
  <h5>Redirect types</h5>
  <p>local Redirect- In local Redirect has not <span class="imp">backslash ( / )</span> so it is replace
    to single URL segments. <br>
    Example- <span class="imp curly">path : ' one ' , redirectTo:' two '</span></p>
    <p>2 . absolute Redirect- In absolute Redirect has <span class="imp">backslash ( / )</span> so it is replace to full URL segments. <br>Example- <span class="imp curly">path : ' one ' , redirectTo:' /two '</span></p>
    <div class="note">
        <h6>Only one redirect apply in one URL</h6>
    </div>
    <!-- step 3 -->
    <h4>Identify the router state -</h4>
    <p>in this step use to parse URL of tree, that is created in In step 1 </p>
    <p>in this step , user click on URL than router is search to that URL in router tree.</p>
    <!-- step 4 -->
    <h4>Guard - run guards</h4>
    <p>In this Step use , user authorisation means , when user authorized so perform navigate Otherwise not navigate. Example - login</p>
    <!-- step 5 -->
    <h4>run Resolves</h4>
    <p>In this Step Resolve to required data for router state.</p>
    <!-- step 6 -->
    <h4>Active</h4>
    <p>In this Step active to routing components for display than naviget component.</p>
   <!-- step 7 -->
    <h4>Manage</h4>
    <p>In this Step active to routing components for display than naviget component.</p>
</div>
