<h1>structural works!</h1>
<hr />
<p>In Structural driective add & remove to dom of element</p>
<p>
  when rendar to component in template so Structural driective handle It's
  rendar way
</p>
<hr />
<div data-type-heading="Structural Driective Types" class="type">
  <a routerLink="../ngIf">Driective (*ngIf)</a>
  <a routerLink="../ngFor">Driective (*ngFor)</a>
  <a routerLink="../ngSwitch">Driective [ngSwitch]</a>
</div>
<hr>
<router-outlet></router-outlet>
