<h1>Child & Parent Module</h1>
<hr />
<h3>block diagram module</h3>
<img src="../../../../assets/img/module/module.png" class="img-fluid image"  alt="">
<!-- <div class="step mt-4">
  <span>thins test</span>
  <span>thins test</span>
</div>

<div class="output">
  <div class="p-3"></div>
</div> -->
