<h1>what is Form Validation</h1>
<hr>
<p>Validation is use for take valid data form user</p>
<p>In Validation , Validate to all input control</p>
<hr>
<h2>Some input control state</h2>
<p><span class="point">ng-touched and variable.touched : </span> In this check that , user is visited in input control <span class="imp">yes or not</span></p>
<p><span class="point">ng-valid and variable.valid : </span> ng-valid means that valid data in input control. if input control is valid so return <span class="imp">true</span> else <span class="imp">false</span></p>
<p><span class="point">ng-invalid and variable.invalid : </span>  ng-invalid means that invalid data in input control</p>
<p><span class="point">required  : </span>required is attribute that is use in input control . required means that <span class="imp">data must be required in input control field.</span></p>
<hr>
<h2>form css</h2>
<p>when load form page in browser than add some <span class="imp">css class</span> in that form of input control. this css class in change accoring to user action </p>
<h4>Example : </h4>
<p>when load form - <span class="imp">&lt;input type="text" class="ng-untouched ng-invalid ng-pristin" /&gt;</span></p>
<p>when user action - <span class="imp">&lt;input type="text" class="ng-touched ng-valid ng-dirty" /&gt;</span></p>
<hr>
<h2>Submit button Validation</h2>
<br>
<span class="imp">&lt;button [disabled]="myform.valid" &gt; submit &lt;/button &gt;</span>
<p>In Submit button Validation, if form all input control are valid than button is enable else disabled</p>
<hr>
<h2>form Validation Types</h2>
<div data-type-heading="Type of form Validation" class="type">
    <a>Template driven Form Validation</a>
    <a>Reactive Form Validation</a>
</div>
