<h1>router outlet</h1>
<hr />
<p>Router-Outlet is load to dynamic component for viwe.</p>
<p>All component load on Router-Outlet.</p>
<pre data-doc="syntax">
    <code>
       {{codeRouting.outlet.syntax}}
    </code>
</pre>
<p>Until not use Router-Outlet, routing will not working</p>
<hr>
<h2>block diagram - </h2>
<img src="../../../../../assets/img/routing/RO.png" class="img-fluid image" alt="">