<h1>what is form</h1>
<hr>
<p>Form is basic Bulding block Application . we take user data or show uesing in form</p>
<hr>
<div data-type-heading="type ot form" class="type">
 <a>Template-driven Form</a>
 <a>Model-driven Reactive form</a>
</div>
