<h1>child route</h1>
<hr />
<p>In child route , we routing to child components of parent component</p>
<img
  src="../../../../assets/img/routing/cild_route.png"
  class="img-fluid image"
  alt=""
/>
<hr />
<div data-type-heading="child route types" class="type">
  <a [routerLink]="['../with-child']">parent with child</a>
  <a [routerLink]="['../remove-parent']">Remove parent than load child</a>
</div>
<router-outlet></router-outlet>
