<h1>set-up</h1>
<hr />
<h2>setup environment</h2>
<p><a target="blank" href="https://code.visualstudio.com/">I.D.E</a></p>
<p><a target="blank" href="https://nodejs.org/en/">NODE JS</a></p>
<hr />
<h2>installation</h2>
<p>1. create new folder</p>
<p>2. type this command (install CLI)</p>
<span class="CLI">npm install -g @angular/cli</span>
<p>3. type this command (create app)</p>
<span class="CLI">ng new myapp</span>
<p>4. type this command (run app)</p>
<span class="CLI">ng s --open</span>
