/* inherit css */
.type,
.step,
.output,
.image,
.note,
pre {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* heading */
h1 {
  margin-top: 100px;
  margin-bottom: 25px;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}
h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: calc(1.475rem + 1vw);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: calc(1.475rem + 0.5vw);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

p,
.step span {
  font-size: 19px;
  line-height: 30.2px;
  word-wrap: 0px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: rgb(78, 77, 77);
}
p {
  padding-left: 25px;
}
p::before {
  font-family: "Material Icons";
  content: "label_important";
  position: absolute;
  left: 1px;
}
/* ---type--- */
.type {
  counter-reset: Maincounter 0;
}
.type::before {
  content: attr(data-type-heading);
  display: block;
  background: #d4d4d4;
  color: black;
  font-size: calc(1.475rem + 0.1vw);
  font-weight: 300;
  padding-left: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.type a {
  cursor: pointer;
  display: block;
  width: 30%;
  background-color: #e7e6e6;
  color: black !important;
  text-decoration: none;
  margin: 8px;
  padding: 3px;
  border-radius: 6px;
}
.type a:hover {
  background-color: #d4d4d4;
  color: black !important;
  font-weight: 500;
}
.type a::before {
  content: counter(Maincounter) " ";
  counter-increment: Maincounter 1;
  background: #d4d4d4;
  color: black;
  margin-left: 0px;
  margin-right: 10px;
  padding: 3px;
}
/* ---step--- */
.step {
  counter-reset: Maincounter 0;
}
.step h4 {
  display: block;
  margin-top: 30px;
}
.step h4::before {
  content: "Step " counter(Maincounter) " : ";
  counter-increment: Maincounter 1;
  color: gray;
  font-weight: 600;
}
/*-----output---- */
.output {
  height: auto;
  background-color: #eeeeee;
  position: relative;
  border-radius: 6px;
}
.output::before {
  font-family: "Material Icons";
  content: "launch";
  background-color: #d4d4d4;
  display: block;
  font-weight: 900;
  font-size: 20px;
  padding-left: 12px;
  border-radius: 6px 6px 0px 0px;
}
.output::after {
  content: "Output";
  position: absolute;
  top: 3px;
  left: 40px;
  font-weight: 900;
}
/* highlight */
.imp {
  color: rgb(0, 0, 0);
}
.imp,
.no-need {
  font-weight: 700;
}
.no-need {
  text-decoration: line-through;
  color: red;
}
.note {
  background: rgb(231, 231, 229);
  padding: 10px;
  border-left: 10px solid yellow;
}
.point {
  color: darkblue;
  font-weight: 700;
}
/* img */
.image {
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
}
/* source code */
pre {
  position: relative;
}
pre::before {
  font-family: "Font Awesome 5 Free";
  content: "\f121";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #d4d4d4;
  width: 100%;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
}
pre::after {
  content: attr(data-doc);
  position: absolute;
  top: 0;
  left: 28px;
  color: black;
  font-size: 19px;
  font-weight: 700;
  padding-left: 12px;
}
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #dd0330 !important;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}
/* CLI */
.CLI {
  background-color: #272822;
  color: white;
  padding: 10px 25px 10px 25px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  border-radius: 6px;
}
.CLI::before {
  font-family: "Font Awesome 5 Free";
  content: "\f120";
  font-weight: 700;
  margin: 0px 10px 0px 0px;
  color: #61dafb;
}
/* code content */
.page-content {
  height: 100vh;
  overflow-y: scroll;
}
.page-content::-webkit-scrollbar {
  width: 0px;
}
/* NavContainer */
.NavContainer {
  max-height: 360px;
}
