<h1>@component decorator</h1>
<hr>
<p>syntax : <br>
<span class="imp">@component (<span class="curly"><br>
   selector: 'app-name',<br>
  templateUrl: './name.component.html',<br>
  styleUrls: ['./name.component.css']<br>
</span>)</span></p>
<p>In @component decorator , has metadata property <span class="imp">selector , templateUrl ,styleUrls</span> ....more</p>
<hr>
<h2>Template and TemplateUrl </h2>
<p><span class="point">Template</span> : in Template , we use Html in
name.component.ts with use  <span class="imp">backtick ( ` ` )</span></p>
<pre data-doc="1 name.component.ts">
    <code>
    {{component_code.CompoDeco.temp.Template}}
    </code>
</pre>

<p><span class="point">templateUrl</span> : in templateUrl , we use separate html file <span class="imp">templateUrl: './name.component.html',</span></p>
<pre data-doc="2 name.component.ts">
    <code>
        {{component_code.CompoDeco.temp.TemplateUrl}}
    </code>
</pre>
<hr>
<h2>Style and Stylesurl</h2>
<p><span class="point">Style :</span>  we use style in name.compponent.ts</p>
<pre data-doc="1 name.component.ts">
    <code>
    {{component_code.CompoDeco.styleCss.styles}}
    </code>
</pre>
<p><span class="point">styleUrl</span> : in styleUrl , we use separate css file <span class="imp">templateUrl: './name.component.css',</span></p>
<pre data-doc="2 name.component.ts">
    <code>
    {{component_code.CompoDeco.styleCss.styleUrl}}
    </code>
</pre>
<hr>
<h2>PreserveWhitespaces</h2>
<p>PreserveWhitespaces is remove White spaces From Html element</p>
<p>syntax : <br>
<span class="imp">PreserveWhitespaces : true/false,</span></p>
<p>if PreserveWhitespaces is <span class="imp">true</span> so not removed White spaces</p>
<p>if PreserveWhitespaces is <span class="imp">false</span> so will removed White spaces</p>
<pre data-doc="PreserveWhitespaces">
    <code>
    {{component_code.CompoDeco.Whitespaces}}
    </code>
</pre>
<hr>
<h2>ViewProvider </h2>
<hr>
<img src="../../../../assets/img/component/viewPro.png" class="img-fluid image" alt="">
<hr>
<p>In ViewProvider put <span class="imp"> Outer Class name</span> then inject to Outer Class in main componet Class</p>
<pre data-doc="1 name.component.ts">
    <code>
    {{component_code.CompoDeco.viewProviders}}
    </code>
</pre>
