<h1>what is Component Interaction</h1>
<hr>
<p>we bind to properties & method or events one (parent) component to another (child) component </p>
<img src="../../../../assets/img/CI/BlockCI.png" class="img-fluid image" alt="">