<h1>local storage</h1>
<hr>
<p>In Local Storage save to data in <span class="imp">use's data</span> but this data has not expire</p>
<p>local storage is only access on <span class="imp">client side</span></p>
<p>If user closed to browser , else data available.</p>
<p>syntax : <br>
    for setitem - 
    <span class="imp"> localStorage.setItem('localdata', 'Enter your data');</span><br>
    for getitem - 
    <span class="imp"> localStorage.getItem('localdata');</span>
    </p>
<img src="../../../../../assets/img/session/local.png" class="img-fluid image" alt="">