<h1>What is Component</h1>
<hr>
<p>component is combination of template , metadata & class</p>
<p>component is a basic building block of angular application</p>
<p>component is encapsulat to data and HTML and logic for view</p>
<p>component is subset of directive</p>
<p>we can be create many component as requirement of project</p>
<hr>
<h2>component (template , metadata & class) block diagram</h2>
<img src="../../../../assets/img/component/Component.png" class="img-fluid image" alt="">