<h1>[ngSwitch]</h1>
<hr>
<p>[ngSwitch] is normal like Switch stetment </p>

<div data-type-heading="[ngSwitch] has three part" class="type">
    <a>[ngSwitch]="xyz"</a>
    <a>*ngSwitchCase=" "</a>
    <a>*ngSwitchDefault</a>
</div>
<pre data-doc="1 name.component.html">
    <code>
        {{D_Structural.switch.ts}} 
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{D_Structural.switch.html}} 
    </code>
</pre>
<!-- ontput -->
<div class="output">
    <div class="p-3">
        <select class="form-select" (change)="method($event)">
            <option value="">select all option</option>
            <option value="a">part 1</option>
            <option value="b">part 2</option>
        </select>
        
        <div [ngSwitch]="xyz">
            <div *ngSwitchCase="'a'">
                <br>
                <h5>option 1</h5>
            </div>
            <div *ngSwitchCase="'b'">
                <br>
                <h5>option 2</h5>
            </div>
            <div *ngSwitchDefault>
                <br>
                <h5>option Default</h5>
            </div>
        </div>
    </div>
</div>