<div class="row intro">
  <div class="col-lg-9 tab-content">
    <div class="container-fluid page-content">
      <!-- load here  -->
      <router-outlet></router-outlet>
      <!-- load here  -->
    </div>
  </div>
  <div class="col-lg-3 Get_scroll centerY" style="background: #dfdbdb;">
    <div class="list_box Get_scroll">
      <nav *ngFor="let points of C_interaction_list" class="nav flex-column">
        <a class="nav-link mb-2" routerLinkActive="active"  [routerLink]="[points.path]">{{
          points.point
        }}</a>
      </nav>
    </div>
  </div>
</div>
