<h1>auxiliary Route</h1>
<hr>
<p>auxiliary Route is also called <span class="imp">multiple router outlet</span>.</p>
<hr>

<p>router outlet types -<br>
<span class="imp">1 . primary router outlet</span><br>
<span class="imp">2 . secondary router outlet</span></p>
<hr>
<p><span class="imp">1 . primary router outlet</span> : in  primary router outlet use <span class="imp">&lt;router-outlet&gt;&lt;/  router-outlet&gt;</span></p>
<p><span class="imp">2 . secondary   router outlet</span> : in  secondary router outlet , pass name <br> 
    <span class="imp">&lt;router-outlet name="abc" &gt;&lt;/  router-outlet&gt;</span><br>
    <span class="imp">&lt;router-outlet name="xyz" &gt;&lt;/  router-outlet&gt;</span><br>
    secondary router also call <span class="imp">named router</span>
</p>
<hr>
<h2>how to use auxiliary Route</h2>

<img src="../../../../assets/img/routing/auxiliary.png" class="img-fluid image" alt="">

<p>step 1 : first generate two component</p>
<p>step 2 : configure to this two component in <span class="imp">name.routing.module.ts</span></p>
<pre data-doc="1 name.routing.module.ts">
    <code>
         {{codeRouting.Auxiliary.routing_ts}}
    </code>
</pre>
<p>step 3 : set router link to both component in <span class="imp">name.component.ts</span></p>
<pre data-doc="2 name.component.ts">
    <code>
         {{codeRouting.Auxiliary.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <a class="btn btn-dark"  [routerLink]="[{
            outlets:{Alex:['one']}
        }]">click here</a> 
        <router-outlet></router-outlet>
        <router-outlet name='Alex'></router-outlet>
    </div>
</div>


