<h1>what is session</h1>
<hr>
<p>In angular use <span class="imp">HTML web storage</span> for session management</p>
<hr>
<h2>web storage</h2>
<p>In web storage , we maintain locally to data of application in <span class="imp">user's browser</span> on client side</p>
<p>It is more secure &  store large data commpare than <span class="imp">cookie</span></p>
<p>In web storage can be store <span class="imp">10mb data</span></p>
<hr>
<h2>web storage type</h2>
<div data-type-heading="Type of web storage" class="type">
    <a>local storage</a>
    <a>session storage</a>
</div>
