<h1>nexted react form</h1>
<hr>
<p>In nexted form has group of input control</p>
<hr>
<img src="../../../../../assets/img/form/Nform.png" class="img-fluid image" alt="" srcset="">
<pre data-doc="1 name.component.ts">
    <code>
     {{formCode.reactive.nextedRecatForm.ts}}
    </code>
</pre>
<pre data-doc="2 name.component.html">
    <code>
        {{formCode.reactive.nextedRecatForm.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <form [formGroup]="myform" (ngSubmit)="formSubmit()">
            <div class="mb-3">
                <label class="form-label">your name</label>
                <input type="text" class="form-control" formControlName="name" />
            </div>
            <hr>
            <h5>enter your address :</h5>
            <div class="row" formGroupName="address">
                <div class="col-auto mb-3">
                    <input type="text" placeholder="Country" class="form-control" formControlName="Country"/>
                </div>
                <div class="col-auto mb-3">
                    <input type="text" placeholder="State" class="form-control" formControlName="State"/>
                </div>
                <div class="col-auto mb-3">
                    <input type="text" placeholder="City"  class="form-control" formControlName="City"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">submit now</button>
            <h4>{{output | json}}</h4>
        </form>
        
    </div>
</div>