<h1>ngClass</h1>
<hr />
<h2>1 ngClass static</h2>
<hr>
<h3>1 ngClass with string</h3>
<pre data-doc="1 name.component.html">
    <code>
   {{ D_Attribute.ngClass.type.str}}
    </code>
</pre>
<h3>2 ngClass with array</h3>
<pre data-doc="1 name.component.html">
    <code>
   {{ D_Attribute.ngClass.type.arr}}
    </code>
</pre>
<h3>3 ngClass with object</h3>
<pre data-doc="1 name.component.html">
    <code>
   {{ D_Attribute.ngClass.type.objects}}
    </code>
</pre>
<hr>
<h2>2 ngClass dynamic</h2>
<hr>
<pre data-doc="1 name.component.html">
    <code>
        {{ D_Attribute.ngClass.Dynamic.html}}
    </code>
</pre>
<pre data-doc="2 name.component.css">
    <code>
        {{ D_Attribute.ngClass.Dynamic.css}}
    </code>
</pre>
<pre data-doc="3 name.component.ts">
    <code>
        {{ D_Attribute.ngClass.Dynamic.ts}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <div [ngClass]="method()" >
            <h5>Lorem ipsum dolor sit amet </h5> 
        </div>
    </div>
</div>