<h1>lazy-loading</h1>
<p> <span class="imp">Feature modules</span> is load on <span class="imp">User demand</span> in lazy-loading</p>
<p>All Feature modules is not load when starting loading application.in which that module load that <span>User demand</span>.</p>
<p>In lazy-loading , all <span class="imp">Feature modules</span> is not import in <span class="no-need">app.module.ts</span>. this all <span class="imp">Feature modules</span> import in <span class="imp">app.routing.module.ts</span></p>
<img src="../../../../../assets/img/moduleLoad/LL.png" class="img-fluid image" alt="" srcset="">
<hr>
<h4>Examle</h4>
<pre data-doc="syntax/app.routing.module.ts">
    <code>
   {{ModuleLoadCode.moduleLoading.lazyL.syntax}}
    </code>
  </pre>
<pre data-doc="app.component.html">
    <code>
        {{ModuleLoadCode.moduleLoading.lazyL.html}}
    </code>
</pre>  