<h1>async pipe</h1>
<hr>
<p>Use Pipes in html template in async pipe</p>
<p>this async pipe use in ngFor</p>
<p>if we use observables so no need to use <span class="no-need">subscribe()</span> method , only ues <span class="imp">async pipe</span>
<br> syntax: <span class="imp">
    &lt;div *ngFor="let student of  students | async"&gt; #code &lt;/div&gt;
</span></p>
<p>In <span class="imp">name.componet.ts</span> , this observables is use in collectionName with <span class="imp">custom interfaceName</span><br>
  example : <span class="imp"> collectionName:Observable&lt;interfaceName[ ]&gt;</span>
</p>
<pre data-doc="1 name.model.ts">
    <code>
        {{RxjsCode.Subscribe.asyncPipe.model}}
    </code>
</pre>

<pre data-doc="2 name.component.ts">
    <code>
        {{RxjsCode.Subscribe.asyncPipe.ts}}
    </code>
</pre>

<pre data-doc="3 name.component.html">
    <code>
        {{RxjsCode.Subscribe.asyncPipe.html}}
    </code>
</pre>

<div class="output">
    <div class="p-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>username</th>
                    <th>email</th>
                    <th>website</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list | async">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.website}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>