<h1>booting process</h1>
<hr />
<h3>when compilpiler code following this prosses-</h3>
<p>
  in main.ts booting start for AppModule & AppModule is bootstrapModule
  <span class="imp">bootstrapModule(AppModule)</span> ,AppModule import in
  main.ts
</p>

<pre data-doc="1 main.ts">
      <code class="language-javascript">
        {{intro.stepOne}}
       </code>
  </pre>
<hr />
<p>
  step 2- > in <span class="imp">(app.module.ts)</span> , import AppComponent
  for booting process in
  <span class="imp">bootstrap:[AppComponent]</span>
</p>
<pre data-doc="2 app.module.ts">
  <code class="language-javascript">
    {{intro.steptwo}}
   </code>
</pre>
<hr />
<p>
  step 3- > in <span class="imp">(app.Component.ts)</span> use a selector that
  is <span class="imp">(selector: 'app-root')</span> this selector use in
  <span class="imp">(index.html)</span>
</p>
<pre data-doc="3 app.Component.ts">
  <code class="language-javascript">
    {{intro.stepthree}}
  </code>
</pre>
<hr />
<p>
  step 4- > in <span class="imp">(index.html)</span> use a selector that is
  <span class="imp">&lt;app-root&gt;&lt;/app-root&gt;</span> and this
  <span class="imp">(index.html)</span> load in browser
</p>
<pre data-doc="4 index.html">
  <code class="language-markup">
    {{intro.stepfour}}
  </code>
</pre>

<!-- <h1 class="tab_heading">booting process</h1>
<h2 class="topic_heading">when compilpiler code following this prosses-</h2>
<hr />
<p>
    step 1- > in main.ts booting start for AppModule & AppModule is
    bootstrapModule
    <span class="imp">bootstrapModule(AppModule)</span> ,AppModule import in
    main.ts
</p>
<div class="Source_code">
    <pre data-doc="1 main.ts">
        <code class="language-javascript">
          {{step1}}
        </code>
      </pre>
</div>
<hr />
<p>
    step 2- > in <span class="imp">(app.module.ts)</span> , import AppComponent
    for booting process in
    <span class="imp">bootstrap:[AppComponent]</span>
</p>
<div class="Source_code">
    <pre data-doc="2 app.module.ts">
        <code class="language-javascript">
          {{step2}}
        </code>
      </pre>
</div>
<hr />
<p>
    step 3- > in <span class="imp">(app.Component.ts)</span> use a selector that
    is <span class="imp">(selector: 'app-root')</span> this selector use in
    <span class="imp">(index.html)</span>
</p>
<div class="Source_code">
    <pre data-doc="3 app.Component.ts">
        <code class="language-javascript">
          {{step3}}
        </code>
      </pre>
</div>
<hr />
<p>
    step 4- > in <span class="imp">(index.html)</span> use a selector that is
    <span class="imp">&lt;app-root&gt;&lt;/app-root&gt;</span> and this
    <span class="imp">(index.html)</span> load in browser
</p>
<div class="Source_code">
    <pre data-doc="4 index.html">
        <code class="language-markup">
          {{step4}}
        </code>
      </pre>
</div> -->
