<h1>parameter Decorators</h1>
<hr />
<p>in parameter Decorators , we pass parametre in constructor.</p>
<hr />
<h2>@inject</h2>
<hr />
<h3>service</h3>
<p>service is <span class="imp">@inject</span> type , and service inject in <span class="imp">component</span> </p>
<p>Step 1. first generate service - type is command</p>
<span class="CLI">ng g s serviceName</span>
<p>Step 2. in <span class="imp">name.service.ts</span> copy class name <span class="imp">MyServiceService</span></p>
<pre data-doc="2 . name.service.ts">
    <code>
        {{decoratorCode.Parameter.services.service}} 
    </code>
</pre>

<p>step 3. in <span class="imp">name.module.ts</span> import to in Service Provider <span class="imp">MyServiceService</span></p>
<pre data-doc="3 . app.module.ts">
    <code>
        {{decoratorCode.Parameter.services.appMode}} 
    </code>
</pre>
<p>step 4. in<span class="imp">name.component.ts</span> import to in Service Provider <span class="imp">MyServiceService</span></p>
<pre data-doc="4 . name.component.ts">
    <code>
        {{decoratorCode.Parameter.services.ts}}
    </code>
</pre>
<div class="note">
    <h6>note - for more imformation check <span class="imp">Service Topic</span></h6>
</div>

