<h1>custom pipes</h1>
<hr />
<p>Step 1 - first create custom pipes using to CLI type this CMD</p>
<span class="CLI">ng g pipe pipeName</span>
<p>By this CMD has created two file</p>
<span class="imp">1 name.pipe.spec.ts</span><br />
<span class="imp">2 name.pipe.ts</span>
<pre data-doc="syntax">
    <code>
      {{pipesCode.type.custom.syntax}}
    </code>
 </pre>
 <hr>
<h2>pipes transform</h2>
<h4>Example</h4>
<pre data-doc="1 name.conponent.ts">
    <code>
      {{pipesCode.type.custom.transform.ts}}
    </code>
 </pre>
<pre data-doc="2 name.pipe.ts ">
    <code>
      {{pipesCode.type.custom.transform.pipe_ts}} 
    </code>
 </pre>
<pre data-doc="3 name.conponent.html ">
    <code>
        {{pipesCode.type.custom.transform.html}}
    </code>
 </pre>
<div class="output">
  <div class="p-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">patient</th>
          <th scope="col">status</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let covid of data_person">
          <td>{{ covid.id }}</td>
          <td>{{ covid.patient }}</td>
          <td>{{ covid.status }}</td>
          <td>{{ covid.action | custom: covid.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- output here -->
