<h1>what is pipes</h1>
<hr>
<img src="../../../../assets/img/pipes/pipe.png" class="img-fluid" alt="">
<p>pipes is transform in desired output before display to input data</p>
<hr>
<div data-type-heading="pipes types" class="type">
    <a >Built in pipes</a>
    <a >Custom pipes</a>
</div>
<img src="../../../../assets/img/pipes/PipeTypes.png" class="img-fluid" alt="">