<h1>create Component</h1>
<hr />
<p>step 1 - for create Component type this command in module folder</p>
<span class="CLI">ng g c componentName</span>
<hr />
<p>step 2 - In component has 4 file</p>
<span class="imp">name.component.css</span><br />
<span class="imp">name.component.html</span><br />
<span class="imp">name.component.ts</span><br />
<span class="imp">name.component.spce.ts</span><br />
<br />
<p>where <span class="imp">name.component.ts</span> is component</p>
<p>In <span class="imp">@Component</span> decorator object data is metadata( <span class="imp">selector</span> , <span class="imp">templateUrl</span> , <span class="imp">styleUrls</span>)</p>
<pre data-doc="1 name.component.ts">
    <code>
        {{component_code.temp}}
    </code>
</pre>