<h1>some method & checking</h1>
<hr>
<h2>1 . delete entires</h2>
<p>syntax : <br>
<span class="imp">localStorage.removeItem(key name)</span></p>
<p>removeItem() is remove to data from local or session Storage.</p>
<p>In removeItem() method pass <span class="imp">key</span></p>
<hr>
<h2>2 . clear everything</h2>
<p>syntax : <br>
<span class="imp">localStorage.clear()</span></p>
<p>clear() method in clear data from local or session Storage</p>
<hr>
<h2>3 . store to json object</h2>
<p>we know that , in local and session Storage can use only <span class="imp">string</span> but if we want to pass <span class="imp">object</span> in local and session Storage So we use <span class="imp">JSON.stringify()</span></p>
<p>syntax: <br>
<span class="imp">localStorage.setItem('key',JSON.stringify(objectName))</span></p>
<pre data-doc="1 .c1.componet.ts">
    <code>
    {{sessionCode.jsonObj}}
    </code>
</pre>
<hr>
<h2>4 . check : has data local & session storage ?</h2>
<p>we check , data is available or not in storage , based on <span class="imp">condition</span></p>
<p>this checking technique , use in <span class="imp">getItem component</span> </p>
<pre data-doc="1 .c1.componet.ts">
    <code>
        {{sessionCode.checkStore.c1_ts }}
    </code>
</pre>
<pre data-doc="2 .c2.componet.ts">
    <code>
        {{sessionCode.checkStore.c2_ts }}
    </code>
</pre> 
<hr>
<h2>5 . check : browser suport ?</h2>
<p>in this technique check browser support or not to <span class="imp">web storage</span></p>
<p>this checking technique , use in <span class="imp">getItem component</span> </p>
<pre data-doc="1 .c2.componet.ts">
    <code>
    {{sessionCode.checkSupport.c2_ts }}
    </code>
</pre> 

