<h1>2. Remove parent than load child</h1>
<p>In this route types first remove components than load Child components</p>
<img src="../../../../assets/img/routing/cild_route_types2.png" class="img-fluid image" alt="">
<pre data-doc="1 . app.routing.module.ts">
    <code>
        {{codeRouting.childRoute.removeParent.ts}}   
    </code>
</pre>
<pre data-doc="2 . name.component.html">
    <code>
        {{codeRouting.childRoute.removeParent.html}}
    </code>
</pre>
