<h1>structure</h1>
<hr />
<h2>Folder Structure</h2>
<span class="imp">(e2e)</span>
<p>
  it's means end to end testing and it is monitor to login logout click when app
  deploy on production server
</p>
<hr />
<span class="imp">(node_modules)</span>
<p>in folder has that package , that using in project</p>
<hr />
<span class="imp">(src)</span>
<p>in src has all component and module</p>
<p>
  in src has main component that is app component and it is app module , in app
  component has 6 file
</p>
<img src="../../../../assets/img/intro/appcomponent.png" class="img-fluid" alt="">
<hr />
<span class="imp">(assets)</span>
<p>in assets folder use external file like image , video, css html, js</p>
<hr />
<span class="imp">(environment)</span>
<p>in environment folder use two file use when deploy to app</p>
<hr />
<span class="imp">(index.html / style.css)</span>
<p>
  index.html - in body only use root selector -
  <span style="text-transform: lowercase;"
    >&lt;app-root &gt;&lt;/app-root &gt;</span
  >
</p>
<p>index.css - it is parent CSS that apply on in app</p>
<hr />
<span class="imp">(polyfis.ts / Browserlidt)</span>
<p>this both flie use for browser suporting</p>
<hr />
<span class="imp">(tset.ts / karma.conf.js)</span>
<p>this both flie use for tasting.in testing use Jasmine framework</p>
<hr />
<span class="imp">(.editorconfig)</span>
<p>
  in this file define some rule for app by admin , this file only can use
  admin
</p>
<hr />
<span class="imp">(.package.json)</span>
<p>in this has that file that may be using in development</p>
<hr />
<span class="imp">(.package.lock.json)</span>>
<p>in this has that file that absolute currently using in development</p>
<hr />