<h1>Dynamic component loader</h1>
<hr />
<p><span class="point">Step 1 : </span>Create two component</p>
<hr />
<p><span class="point">Step 2 :</span>  This C1 , C2 component import in 
  <span class="imp">app.module.ts</span> </p>
<p>this is C1 ,C2 component set in <span class="imp">entryComponents:[ C1 , C2 ]</span> </p>
<pre data-doc="2 . app.module.ts">
  <code>
  {{C_interaction.DynamicComponent.appMode}}
  </code>
</pre>
<hr />
<p><span class="point">Step 3 :</span>  import C1 , C2 component in 
<span class="imp">main.component.ts</span> </p>
<p>according to <span class="imp"> logic</span> load to component</p>
<pre data-doc="3 . main.component.ts">
  <code>
  {{C_interaction.DynamicComponent.ts}}
  </code>
</pre>
<hr />
<p><span class="point">Step 4 :</span>  go on <span class="imp">main.component.html</span></p>
<p>use in ng-container <span class="imp">*ngComponentOutlet="dummyComp"</span> with  for dynamic component navigation</p>
<pre data-doc="4 . main.component.html">
  <code>
  {{C_interaction.DynamicComponent.html}}
  </code>
</pre>
<hr />
<div class="output">
  <div class="p-3">
    <button class="btn btn-primary" (click)="animalName('cow')">
      Component One</button
    >&nbsp;
    <button class="btn btn-primary" (click)="animalName('dog')">
      Component Two
    </button>
    <h2>
      <ng-container *ngComponentOutlet="dummyComp"></ng-container>
    </h2>
  </div>
</div>
