<h1>Life Cycle Stages</h1>
<hr />
<div data-type-heading="component's Life Cycle has 8 Stages" class="type">
  <ng-container *ngFor="let button of Stages; let i = index">
    <a [routerLink]="[ button.link ]">
        ( {{ i+1 }} ) {{ button.name }}
    </a>
  </ng-container>
</div>
<hr>
<router-outlet></router-outlet>
