<h1>*ngIf</h1>
<hr>
<p>by <span class="imp">*ngIf</span> add and remove in Dom according to condition</p>
<p>In ngIf can be two conditions => <span class="imp">false</span> & <span class="imp">true</span></p>
<p>syntax : <span class="imp">*ngIf="true/false/variableName"</span></p>
<hr>
<pre data-doc="1 name.component.ts">
    <code>
        {{D_Structural.ngif.ngIf_t}}
     </code>
</pre>
<pre data-doc="2 name.component.html">
    <code>
       {{D_Structural.ngif.ngIf_h}}  
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <button class="btn btn-success" (click)="method(true)">Add</button>
        &nbsp;
        <button class="btn btn-danger" (click)="method(false)">Remove</button>
        <div *ngIf="abc" class="p-1">
            <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque debitis quam repudiandae consequuntur?
                Exercitationem, quas fuga.</h5>
        </div>
    </div>
</div>

<!-- *ngIf with else-->
<h2>*ngIf with else</h2>
<hr>
<p>If condition false so work else part</p>
<p>when work else part sp this else part use is <span class="imp">&lt; ng-template &gt; &lt; /ng-template
        &gt;</span></p>
<pre data-doc="1 name.component.html">
    <code>
        {{D_Structural.ngif.else_h}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{D_Structural.ngif.else_t}}
    </code>
</pre>


<div class="output">
    <div class="p-3">
        <button class="btn btn-success" (click)="Melse(true)">Add</button>
        &nbsp;
        <button class="btn btn-danger" (click)="Melse(false)">Remove</button>
        <div *ngIf=" if_var; else else_var">
            <h5>this is if part</h5>
        </div>
        <ng-template #else_var >
            <div>
                <h5>this is else part</h5>
            </div>
        </ng-template>
    </div>
</div>

<!-- *ngIf with then and else -->
<h2>*ngIf with then and else</h2>
<hr>
<p>If <span class="imp">condition</span> true so work <span class="imp">then part</span></p>

<p>If <span class="imp">condition</span> false so work <span class="imp">else part part</span></p>

<p>In which use two ng-template => for else & then</p>
<pre data-doc="1 name.component.html">
    <code>
        {{D_Structural.ngif.then_h}}
    </code>
</pre>
<pre data-doc="2 name.component.ts">
    <code>
        {{D_Structural.ngif.then_t}}
    </code>
</pre>
<div class="output">
    <div class="p-3">
        <button class="btn btn-success" (click)="Mthen(true)">show then</button> &nbsp;
        <button class="btn btn-danger" (click)="Mthen(false)">show else</button>
        <div *ngIf="then_var;then then_part; else else_part"></div>
        <ng-template #then_part>
            <h5>this is then part</h5>
        </ng-template>
        <ng-template #else_part>
            <h5>this is else part</h5>
        </ng-template>
    </div>
</div>