<h1>template form</h1>
<hr />
<p>In Template-drivenv form mostly work on HTML.</p>
<pre data-doc="syntex">
    <code>
   {{formCode.template.syntax}}
    </code>
</pre>
<p>If this form is more complex in that condition Template-driven Form not ues.</p>
<hr>
<h2>1. ngForm</h2>
<p>ngForm is grouping to that input control Inwhich use ngModel</p>
<p>In Input control , <span class="imp"> name=" "</span> must be Use.</p>
<hr>
<h2>properties of Local variable for from</h2>
<p>1 VARIABLE.VALUE - In <span class="imp">variable.value</span> , access value of all input control</p>
<p>1 VARIABLE.CONTROL - In <span class="imp">variable.control</span> , watch all properties of all input control in form</p>
<hr>
<h2>how to use template driven form</h2>
<p>Step 1 : Import FormsModule in <span class="imp">app.module.ts</span></p>
<pre data-doc="1 app.module.ts">
    <code>
        {{formCode.template.appMode}}
    </code>
</pre>
<hr>
<pre data-doc="2 name.componeet.html">
    <code>
        {{formCode.template.html}}
    </code>
</pre>
<hr>
<pre data-doc="3 name.componeet.ts">
    <code>
        {{formCode.template.ts}}
    </code>
</pre>

<div class="output">
    <div class="p-3">
        <form #myForm="ngForm" (ngSubmit)="formSub(myForm)">
            <div class="mb-3"> 
              <label class="form-label">your name</label>
              <input type="text"  class="form-control" name="name" ngModel />
            </div>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="text" class="form-control" name="email" ngModel />
            </div>
            <button type="submit" class="btn btn-primary">Submit Now</button>
            <h4>{{a | json}}</h4>
          </form>  
    </div>
</div>