<h1>router link</h1>
<hr>
<p>Router-link is same as href</p>
<hr>    
<pre data-doc="syntax">
    <code>
        {{codeRouting.routerLink.syntax}}  
    </code>
</pre>
<p>where - <span class="imp"> /student </span> path name of component.</p>
<p>In this routing proess use a file that is <span class="imp">app.routing.module.ts</span></p>

