<h1>what is Routing</h1>
<hr>
<p>In routing , we navigate one component to another component.</p>
<p>In routing using file</p>
<div class="imp">1 name.component.html</div>
<div class="imp">2 name.component.ts</div>
<div class="imp mb-2">3 app.module.ts</div>
<p>In <span class="imp">app.module.ts</span>- routing module pre install</p>
