@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
/* prism-tomorrow */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.centerXY {
  justify-content: center;
}
.centerY {
  justify-content: start;
}
.centerXY,
.centerY {
  display: flex;
  align-items: center;
}
button {
  box-shadow: none !important;
}
.curly::after {
  content: " }";
}
.curly::before {
  content: "{ ";
}
.active {
  color: #dd0031 !important;
  font-weight: 800 !important;
}
.TopicActive {
  background-color: #dd0031 !important;
  color: white !important;
}
