<h1>@ViewChild()</h1>
<hr>
<p>@ViewChild is <span class="imp">decorator</span>, That is communicate <span class="imp">parent</span> component to <span class="imp">child</span> component</p>
<p>We can modify to <span class="imp">DOM element</span> using @ViewChild</p>
<p>we can access to <span class="imp">properties & method</span>  of child component in parent component using @ViewChild</p>
<p>@ViewChild decorator is create to <span class="imp">instance</span> of child component in parent component than we can access to properties & method of child component in parent component </p>
<hr>
<img src="../../../../../assets/img/CI/viewChild.png" class="img-fluid image" alt="">
<hr>
<pre data-doc="1 child.componet.ts">
    <code>
      {{C_interaction.ViewChild.C_C.ts}}
    </code>
</pre>
<pre data-doc="2 child.componet.html">
    <code>
        {{C_interaction.ViewChild.C_C.html}}
    </code>
</pre>
<hr>
<pre data-doc="1 parent.componet.ts">
    <code>
        {{C_interaction.ViewChild.P_C.ts}}
    </code>
</pre>
<pre data-doc="2 parent.componet.html">
    <code>
        {{C_interaction.ViewChild.P_C.html}}
    </code>
</pre>
<hr>
<div class="output">
    <div class="p-3">
        <button class="btn btn-dark" (click)="P_Click()">click now</button>
        <app-demo></app-demo>
    </div>
</div>

