.home {
  height: 100vh;
  background-image: url("../../assets/img/home/codeBg1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
.logo {
  width: 400px;
  color: #dd0330;
}
.home_btn {
  background-color: #c30e2e;
  color: white;
  text-transform: uppercase;
  font-weight: 500 !important;
}
.display-2 {
  color: white;
}
