<div class="container-fluid home centerY">
  <div class="row">
    <div class="col-lg-5 centerXY">
      <figure>
        <img src="../../assets/img/home/angular.svg" class="img-fluid logo" alt="" srcset="">
      </figure>
    </div>
    <div class="col-lg-7 centerY">
      <span>
        <div class="display-2"> A JavaScript framework for mobile web desktop</div>
      <a class="btn home_btn" routerLink="/angular">Get Started</a>
      </span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
