<h1>@Input & @Output decorator</h1>
<hr />
<p>@Input & @Output is a decorator that use for communication between two component or child & parent component.</p>
<p>By this both decorator , we send data child to parent (or) parent to  child component.</p>
<hr />
<div data-type-heading="@Input & @Output decorator" class="type">
<a (click)="switchBtn(false)">@Input</a>
<a (click)="switchBtn(true)">@output</a>
</div>
<hr>
<ng-container *ngIf="InOp; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #elseTemplate>
  <h2>@Input</h2>
  <p>In @Input decorator , data in send parent to child</p>
  <img src="../../../../../../assets/img/CI/input.png" class="img-fluid image" alt="">
  <hr>
  <pre data-doc="1 parent.component.ts">
    <code>
        {{C_interaction.Ip_Op_decorator.Ip.parent_ts}}
    </code>
  </pre>
  <pre data-doc="2 parent.component.html">
    <code>
      {{C_interaction.Ip_Op_decorator.Ip.parent_html}} 
    </code>
  </pre>
  <pre data-doc="3 child.component.ts">
    <code>
      {{C_interaction.Ip_Op_decorator.Ip.child_ts}} 
    </code>
  </pre>
  <pre data-doc="3 child.component.html">
    <code>
      {{C_interaction.Ip_Op_decorator.Ip.child_html}} 
    </code>
  </pre>
  <hr>
  <div class="output">
    <div class="p-3">
      <h2>parent Component</h2>
      Answer by child : {{ answer }}
      <hr />
      <app-child-comp [byParent]="ask_prenet">
      </app-child-comp>
    </div>
  </div>
</ng-template>
<ng-template #thenTemplate >
  <h2>@Output</h2>
<hr>
<p>In @Input decorator , data in send child to parent</p>
<hr>
<img src="../../../../../../assets/img/CI/output.png" class="img-fluid image" alt="">
<hr>
<p>step 1 : first import Output, EventEmitter in child component</p>
<p>In child component use Emit() method Inwhich pass local variable</p>
<pre data-doc="1 child.component.ts">
  <code>
    {{C_interaction.Ip_Op_decorator.Op.child_ts}} 
  </code>
</pre>
<p>step 2 : create method in child.component.html</p>
<pre data-doc="2 child.component.html">
  <code>
    {{C_interaction.Ip_Op_decorator.Op.child_html}} 
  </code>
</pre>
<p>step 3 : create one more method in parent.component.ts</p>
<pre data-doc="3 parent.component.ts">
  <code>
    {{C_interaction.Ip_Op_decorator.Op.parent_ts}} 
  </code>
</pre>
<p>step 4 : this new method bind with @output variable (reply) from child.component.ts</p>
<p>bind data using interpolation</p>
<pre data-doc="4 parent.component.html">
  <code>
    {{C_interaction.Ip_Op_decorator.Op.parent_html}} 
  </code>
</pre>
<div class="output">
  <div class="p-3">
     <h2>parent Component</h2>
    Answer by child : {{ answer }}
    <hr />
    <app-child-comp [byParent]="ask_prenet" (reply)="getdata($event)">
    </app-child-comp>
  </div>
</div>
</ng-template>

