<h1>1 . ngOnChanges()</h1>
<hr />
<p>ngOnChanges() first stage of Life Cycle Hook , that work after constructor</p>
<p>when <span class="imp">any changes </span> value in component so in that condition work ngOnChanges()</p>
<p>ngOnChanges() is always use with <span class="imp">@Input() decorator</span></p>
<p>ngOnChanges() is work before ngOnInit()</p>
<p>In ngOnChanges( <span class="imp">param</span> ) : parameter of ngOnChanges() has Tree property</p>
<p><span class="point">1 currentValue : </span>it property is show <span class="imp">current</span> Value</p>
<p><span class="point">2 previousValue : </span>it property is show <span class="imp">previous</span> Value</p>
<hr>
<pre data-doc="1 name.component.html">
    <code>
   {{LifeCycleCode.stages.one.parent.html}}
    </code>
</pre>
<pre data-doc="2 child.component.ts">
    <code>
   {{LifeCycleCode.stages.one.child.ts}}
    </code>
</pre>
<pre data-doc="3 child.component.html">
    <code>
   {{LifeCycleCode.stages.one.child.html}}
    </code>
</pre>
<hr>
<div class="output">
  <div class="p-3">
    <h3>parent component</h3>
    <input type="text" #name (keyup)="(0)" />
    <hr />
    <app-life-child [data]="name.value"></app-life-child>
  </div>
</div>
