<h1>what is decorator</h1>
<hr>
<p>decorative is a typescript of features inwhich implement as function in typescript</p>
<p>decorated denoted by @ </p>
<p>decorators are invoked in runtime means when run application so first work decorator</p>
<hr>
<h2>some common decorators</h2>
<p><span class="point">1 . @NgModule</span> : @NgModule use for define to <span class="imp">module</span></p>
<p><span class="point">2 . @Component</span> : @Component use for define to <span class="imp">Component</span></p>
<p><span class="point">3 . @injectable</span> : @injectable use for define to <span class="imp">services</span></p>
<p><span class="point">4 . @input & @output</span> :@input & @output use for define to properties that send and receive data from the <span class="imp">dom</span></p>
<hr>
<h2>Decorators types</h2>
<div data-type-heading="Decorators are four types" class="type">
    <a>Class Decorators</a>
    <a>property Decorators</a>
    <a>parameter Decorators</a>
    <a>method Decorators</a>
</div>