<h1>what is http client</h1>
<hr>
<p>Http Client is perform to http request & response.</p>
<p>Http client is replacment of Http from Angular 4.3 + </p>
<p>In http client Module has Http client service that is use for http request & response.</p>
<p>In Http client add interceptors this modify to request & response</p>
<p>Ues for Http Client first import BrowserModule in <span class="imp">app.module.ts</span><br>
 First import : 
 <span class="imp">import <span class="curly">BrowserModule</span> from "@angular/platform-browser";</span><br>
  Than import :
  <span class="imp">import <span class="curly"> HttpClientModule</span> from "@angular/common/http";</span>
  </p>
  <div class="note">
      <h5>note : Import order must be first than second</h5>
  </div>
 <p>Than import <span class="imp">HttpClient</span> in name.service.ts <br> like : <span class="imp">import <span class="curly"> HttpClient</span> from '@angular/common/http';</span></p>
 <hr>
 <img src="../../../../assets/img/httpClientTopic/get.png" class="img-fluid image" alt="" srcset="">
 <hr>