<h1>eager loading</h1>
<hr />
<p>
  all <span class="imp">module,pipes,service</span> are load in application
  strating in <span class="imp">Eager Loading</span> as of result Application is
  workslow Slow
</p>
<p>Default routing configuration in Eager Loading</p>
<p>
  In Eager Loading ,<span class="imp">feature modules</span> is import in root
  module <span class="imp">(app.module.ts)</span>.
</p>
<hr />
<img
  src="../../../../../assets/img/moduleLoad/FM.png"
  class="img-fluid image"
  alt=""
  srcset=""
/>
<hr />
<h4>Example -</h4>
<p>where - <span class="imp">Student</span> is feature modules</p>
<pre data-doc="1 app.module.ts">
    <code>
     {{ModuleLoadCode.moduleLoading.appMode}}
    </code>
</pre>
